{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block content %}
<!--===== HERO AREA STARTS =======-->
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
    <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
    <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
    <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 m-auto">
          <div class="inner-header text-center heading1">
            <h1>Sobre a Smart Control Brasil</h1>
            <div class="space28"></div>
            <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Sobre nós</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== WORK AREA STARTS =======-->
  <div class="work1-section-area sp1">
    <img src="{% static 'institutional/eitech/img/elements/elements11.png' %}" alt="" class="elements9">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="solution-header heading2">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>O que fazemos</h5>
            <div class="space24"></div>
            <h2 class="text-anime-style-3">Unimos engenharia, manutenção, automação e sistemas para dar mais controle à operação</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="800">A Smart Control Brasil nasceu para resolver problemas práticos de empresas que dependem de processos técnicos, equipamentos, dados e pessoas trabalhando em conjunto. Nosso foco é reduzir improvisos, organizar rotinas e transformar tecnologia em resultado operacional.</p>
            <div class="space24"></div>
            <div class="bg-progress" data-aos="fade-left" data-aos-duration="900">
              <div class="progress-bar">
                <label>Engenharia e Operação <span>98%</span></label>
                <div class="progress">
                  <div class="progress-inner" data-progress="98" style="width: 0%;"></div>
                </div>
              </div>

              <div class="progress-bar">
                <label>Segurança e Controle <span>99%</span></label>
                <div class="progress">
                  <div class="progress-inner" data-progress="99" style="width: 0%;"></div>
                </div>
              </div>

              <div class="progress-bar">
                <label>Sistemas e Dados <span>99%</span></label>
                <div class="progress">
                  <div class="progress-inner" data-progress="99" style="width: 0%;"></div>
                </div>
              </div>
            </div>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">Falar sobre sua operação <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
          <div class="soultions-images">
            <img src="{% static 'institutional/eitech/img/elements/elements10.png' %}" alt="" class="elements10">
            <div class="img1 reveal image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/work/work-img1.png' %}" alt="">
            </div>
            <div class="img2 reveal image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/work/work-img2.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== WORK AREA ENDS =======-->

  <!--===== ABOUT AREA STARTS =======-->
  <div class="about1-section-area-widget sp1" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;">
    <img src="{% static 'institutional/eitech/img/elements/elements9.png' %}" alt="" class="elements9">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-images-area">
            <img src="{% static 'institutional/eitech/img/elements/elements10.png' %}" alt="" class="elements10">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img1.png' %}" alt="">
                </div>
                <div class="space30 d-lg-none d-block"></div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img2.png' %}" alt="">
                </div>
                <div class="space30"></div>
                <div class="img1 image-anime reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img3.png' %}" alt="">
                </div>
              </div>
            </div>
            <div class="check-icons aniamtion-key-1">
              <img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">
              <p>Trabalhamos com tecnologia aplicada à rotina real de empresas, equipes técnicas e operações críticas.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-5">
          <div class="about-header-area heading2">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Nossa origem</h5>
            <div class="space24"></div>
            <h2 class="text-anime-style-3">Tecnologia que resolve problemas antes de impressionar</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="800">A Smart Control Brasil surgiu da necessidade de aproximar o mundo técnico do mundo digital. Percebemos que muitas empresas ainda dependem de planilhas, controles manuais, informações dispersas e decisões tomadas sem histórico confiável. Nosso papel é organizar essa base e criar soluções que funcionem na prática.</p>
            <div class="space28"></div>
            <div class="row" data-aos="fade-left" data-aos-duration="900">
              <div class="col-lg-6 col-md-6">
                <div class="progresbar">
                  <div class="progressbar">
                    <div class="circle" data-percent="96"><canvas width="80" height="80"></canvas>
                      <div class="count">96%</div>
                    </div>
                  </div>
                  <div class="content-area">
                    <h4>Operação</h4>
                    <div class="space8"></div>
                    <p>Mais clareza sobre processos e ativos</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="space28 d-md-none d-block"></div>
                <div class="progresbar">
                  <div class="progressbar">
                    <div class="circle" data-percent="97"><canvas width="80" height="80"></canvas>
                      <div class="count">97%</div>
                    </div>
                  </div>
                  <div class="content-area">
                    <h4>Controle</h4>
                    <div class="space8"></div>
                    <p>Mais segurança para decidir e executar</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="space28"></div>
            <div class="pera-box bg1" data-aos="fade-left" data-aos-duration="1000">
              <p>"A tecnologia certa não complica a operação. Ela organiza, registra, automatiza e ajuda cada pessoa a trabalhar com mais segurança."</p>
            </div>
            <div class="space28"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">Falar com nossa equipe <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== ABOUT AREA ENDS =======-->

  <!--===== ABOUT AREA STARTS =======-->
  <div class="about6-section-area-widget sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="about6-header heading2">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Missão e visão</h5>
            <div class="space18"></div>
            <h2 class="text-anime-style-3">Ajudar empresas a operar melhor, crescer com controle e decidir com dados reais</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">Nossa missão é tornar a tecnologia mais útil, acessível e aplicável para empresas que vivem desafios concretos no dia a dia: manutenção, atendimento, produtividade, segurança, rastreabilidade e gestão de informações.</p>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1000">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:service_details' %}">Processos, sistemas e dados integrados</a>
                <div class="space16"></div>
                <p>Operações eficientes precisam de informação confiável. Por isso, buscamos centralizar dados, organizar fluxos e criar uma base digital que permita acompanhar o que acontece de ponta a ponta.</p>
              </div>
            </div>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1100">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:service_details' %}">Soluções sob medida para cada realidade</a>
                <div class="space16"></div>
                <p>Não partimos de pacotes prontos. Primeiro entendemos a rotina, os gargalos, o time e os objetivos da empresa. Depois propomos o caminho mais simples, seguro e viável para evoluir.</p>
              </div>
            </div>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico técnico <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="images-area">
            <img src="{% static 'institutional/eitech/img/elements/elements27.png' %}" alt="" class="elements27">
            <div class="img1 image-anime reveal">
              <img src="{% static 'institutional/eitech/img/all-images/about/about-img13.png' %}" alt="">
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img14.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img15.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== ABOUT AREA ENDS =======-->

  <!--===== TEAM AREA STARTS =======-->
  <div class="team1-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-auto">
          <div class="team-header space-margin60 heading2 text-center">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Frentes de atuação</h5>
            <div class="space20"></div>
            <h2 class="text-anime-style-3">Competências que conectam engenharia, tecnologia e crescimento</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="team-author-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/team/team-img1.png' %}" alt="">
            </div>
            <div class="content-area">
              <div class="text">
                <a href="{% url 'institutional:team' %}">Engenharia e Manutenção</a>
                <div class="space8"></div>
                <p>Rotinas técnicas, confiabilidade, ativos e melhoria operacional</p>
              </div>
              <div class="icons">
                <a href="#"><img src="{% static 'institutional/eitech/img/icons/share1.svg' %}" alt=""></a>
              </div>
            </div>
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="team-author-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/team/team-img2.png' %}" alt="">
            </div>
            <div class="content-area">
              <div class="text">
                <a href="{% url 'institutional:team' %}">Sistemas e Presença Digital</a>
                <div class="space8"></div>
                <p>Sites, SEO, conteúdo, sistemas web e experiência do usuário</p>
              </div>
              <div class="icons">
                <a href="#"><img src="{% static 'institutional/eitech/img/icons/share1.svg' %}" alt=""></a>
              </div>
            </div>
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
          <div class="team-author-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/team/team-img3.png' %}" alt="">
            </div>
            <div class="content-area">
              <div class="text">
                <a href="{% url 'institutional:team' %}">Dados, IA e Segurança Digital</a>
                <div class="space8"></div>
                <p>Django/Python, dashboards, automação inteligente e proteção de dados</p>
              </div>
              <div class="icons">
                <a href="#"><img src="{% static 'institutional/eitech/img/icons/share1.svg' %}" alt=""></a>
              </div>
            </div>
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== TEAM AREA ENDS =======-->

  <!--===== TESTIMONIAL AREA STARTS =======-->
  <div class="testimonial1-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-auto">
          <div class="testimonial-header text-center heading2 space-margin60">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Dores que resolvemos</h5>
            <div class="space20"></div>
            <h2 class="text-anime-style-3">O que muda quando a operação ganha controle</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="img1 image-anime reveal">
            <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img1.png' %}" alt="">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="slider-galeria">
            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <ul>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                </ul>
                <div class="space16"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
              <p>"Quando a empresa entende seus gargalos antes de investir, cada ação técnica passa a ter mais foco, prioridade e retorno."</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
                  </div>
                  <div class="man-text">
                <a href="{% url 'institutional:team' %}">Diagnóstico operacional</a>
                <div class="space12"></div>
                <p>Primeiro passo para decidir melhor</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <ul>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                </ul>
                <div class="space16"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
              <p>"Sair das planilhas e centralizar processos reduz ruído, melhora o acompanhamento e evita que informações importantes se percam."</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
                  </div>
                  <div class="man-text">
                <a href="{% url 'institutional:team' %}">Gestão digital</a>
                <div class="space12"></div>
                <p>Menos controles soltos, mais rastreabilidade</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <ul>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                </ul>
                <div class="space16"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
              <p>"A integração entre equipamentos, sistemas e dados diminui lançamentos manuais e melhora a confiabilidade das informações."</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
                  </div>
                  <div class="man-text">
                <a href="{% url 'institutional:team' %}">Automação e dados</a>
                <div class="space12"></div>
                <p>Informação mais precisa para agir melhor</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <ul>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                </ul>
                <div class="space16"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
                <p>"Quando segurança, sistema e operação são tratados juntos, a empresa reduz brechas e evita soluções desconectadas."</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
                  </div>
                  <div class="man-text">
                    <a href="{% url 'institutional:team' %}">Segurança e continuidade</a>
                    <div class="space12"></div>
                    <p>Mais proteção para dados e processos</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <ul>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                </ul>
                <div class="space16"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
                <p>"Indicadores reais ajudam a gestão a sair do achismo, priorizar melhor e acompanhar a evolução da operação com mais clareza."</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
                  </div>
                  <div class="man-text">
                    <a href="{% url 'institutional:team' %}">Indicadores de gestão</a>
                    <div class="space12"></div>
                    <p>Decisões com base em dados confiáveis</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-1">
          <div class="slider-galeria-thumbs text-center d-lg-block d-none">
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>

            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>

            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== TESTIMONIAL AREA ENDS =======-->
{% endblock %}