{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Sobre | Smart Control Brasil em Engenharia, Automação e Robótica{% endblock %}
{% block meta_description %}A Smart Control Brasil integra engenharia, automação industrial, robótica aplicada, IoT, dados e software para entregar tecnologia com resultado prático.{% endblock %}

{% block content %}
<!--===== HERO AREA STARTS =======-->
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
    <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
    <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
    <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="inner-header text-center heading1">
            <h1>Sobre a Smart Control Brasil</h1>
            <div class="space28"></div>
            <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Automação industrial, robótica, <br>software, dados e integração</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== WORK AREA STARTS =======-->
  <div class="work1-section-area sp1">
    <img src="{% static 'institutional/eitech/img/elements/elements11.png' %}" alt="" class="elements9">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="solution-header heading2">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>O que fazemos</h5>
            <div class="space24"></div>
            <h2 class="text-anime-style-3">Vendemos, integramos e desenvolvemos soluções em automação industrial, robótica e tecnologia aplicada.</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="800">A Smart Control Brasil atua com equipamentos, softwares, robótica, IoT, dados e dashboards para empresas que querem inovar, automatizar processos e transformar tecnologia em resultado prático. Refrigeração faz parte como solução técnica parceira.</p>
            <div class="space24"></div>
            <div class="bg-progress" data-aos="fade-left" data-aos-duration="900">
              <div class="progress-bar">
                <label>Automação e Equipamentos <span>98%</span></label>
                <div class="progress">
                  <div class="progress-inner" data-progress="98" style="width: 0%;"></div>
                </div>
              </div>

              <div class="progress-bar">
                <label>Robótica e Inovação <span>99%</span></label>
                <div class="progress">
                  <div class="progress-inner" data-progress="99" style="width: 0%;"></div>
                </div>
              </div>

              <div class="progress-bar">
                <label>Softwares, IoT e Dados <span>99%</span></label>
                <div class="progress">
                  <div class="progress-inner" data-progress="99" style="width: 0%;"></div>
                </div>
              </div>
            </div>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">Falar sobre sua solução <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
          <div class="soultions-images">
            <img src="{% static 'institutional/eitech/img/elements/elements10.png' %}" alt="" class="elements10">
            <div class="img1 reveal image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/work/boa-ideia.png' %}" alt="">
            </div>
            <div class="img2 reveal image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/work/equipe-reunida.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== WORK AREA ENDS =======-->

  <!--===== ABOUT AREA STARTS =======-->
  <div class="about1-section-area-widget sp1" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;">
    <img src="{% static 'institutional/eitech/img/elements/elements9.png' %}" alt="" class="elements9">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-images-area">
            <img src="{% static 'institutional/eitech/img/elements/elements10.png' %}" alt="" class="elements10">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/about/cervejeira-eos.png' %}" alt="">
                </div>
                <div class="space30 d-lg-none d-block"></div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/about/reuniao-de-negocios.png' %}" alt="">
                </div>
                <div class="space30"></div>
                <div class="img1 image-anime reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/about/reuniao-de-vendas.png' %}" alt="">
                </div>
              </div>
            </div>
            <div class="check-icons aniamtion-key-1">
              <img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">
              <p>Equipamentos, softwares, robótica, IoT e automação com visão de engenharia.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-5">
          <div class="about-header-area heading2">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Nossa origem</h5>
            <div class="space24"></div>
            <h2 class="text-anime-style-3">Tecnologia com base real de engenharia.</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="800">A Smart Control Brasil nasceu da experiência prática em automação, controle, máquinas e sistemas técnicos. Essa base evoluiu para uma empresa focada em soluções tecnológicas: robôs, equipamentos, softwares, IoT, dados e integração.</p>
            <div class="space28"></div>
            <div class="row" data-aos="fade-left" data-aos-duration="900">
              <div class="col-lg-6 col-md-6">
                <div class="progresbar">
                  <div class="progressbar">
                    <div class="circle" data-percent="96"><canvas width="80" height="80"></canvas>
                      <div class="count">96%</div>
                    </div>
                  </div>
                  <div class="content-area">
                    <h4>Produtos</h4>
                    <div class="space8"></div>
                    <p>Equipamentos e soluções com aplicação real</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="space28 d-md-none d-block"></div>
                <div class="progresbar">
                  <div class="progressbar">
                    <div class="circle" data-percent="97"><canvas width="80" height="80"></canvas>
                      <div class="count">97%</div>
                    </div>
                  </div>
                  <div class="content-area">
                    <h4>Sistemas</h4>
                    <div class="space8"></div>
                    <p>Software, dados e integração inteligente</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="space28"></div>
            <div class="pera-box bg1" data-aos="fade-left" data-aos-duration="1000">
              <p>"Tecnologia boa não é só equipamento bonito. É produto, software, integração e aplicação correta trabalhando juntos."</p>
            </div>
            <div class="space28"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">Falar com nossa equipe <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== ABOUT AREA STARTS =======-->
  <div class="about6-section-area-widget sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="about6-header heading2">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Missão e visão</h5>
            <div class="space18"></div>
            <h2 class="text-anime-style-3">Levar automação, robótica e sistemas inteligentes para empresas que querem crescer.</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">Nossa missão é aproximar empresas, escolas e operações das tecnologias certas: equipamentos, robôs, sensores, softwares, dados e soluções embarcadas que geram produtividade, inovação e diferenciação.</p>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1000">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:service_details' %}">Equipamentos, robôs, sensores e softwares</a>
                <div class="space16"></div>
                <p>Fornecemos e integramos tecnologias para diferentes aplicações: CLPs, IHMs, sensores, robôs, dispositivos inteligentes, sistemas web, dashboards, IoT e automação com dados.</p>
              </div>
            </div>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1100">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:service_details' %}">Soluções sob medida para cada mercado</a>
                <div class="space16"></div>
                <p>Atuamos em indústria, educação, comércio, saúde, serviços e ambientes corporativos. A solução pode começar com um produto, mas ganha força quando é bem aplicada, integrada e sustentada.</p>
              </div>
            </div>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar solução tecnológica <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="images-area">
            <img src="{% static 'institutional/eitech/img/elements/elements27.png' %}" alt="" class="elements27">
            <div class="img1 image-anime reveal">
              <img src="{% static 'institutional/eitech/img/all-images/about/equipe-uniao.png' %}" alt="">
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img25.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img26.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== TEAM AREA STARTS =======-->
  <div class="team1-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-auto">
          <div class="team-header space-margin60 heading2 text-center">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Frentes de atuação</h5>
            <div class="space20"></div>
            <h2 class="text-anime-style-3">Automação, robótica, softwares e produtos tecnológicos conectados.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="team-author-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/team/marcelo.png' %}" alt="">
            </div>
            <div class="content-area">
              <div class="text">
                <a href="{% url 'institutional:team' %}">Automação e Equipamentos</a>
                <div class="space8"></div>
                <p>CLPs, IHMs, inversores, sensores, redes industriais, painéis, comandos e soluções para máquinas e processos</p>
              </div>
              <div class="icons">
                <a href="#"><img src="{% static 'institutional/eitech/img/icons/share1.svg' %}" alt=""></a>
              </div>
            </div>
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="team-author-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/team/team-img2.png' %}" alt="">
            </div>
            <div class="content-area">
              <div class="text">
                <a href="{% url 'institutional:team' %}">Robótica e Inovação</a>
                <div class="space8"></div>
                <p>Xyron Robotics, robôs educacionais, atendimento, demonstração, telepresença, eventos e aplicações comerciais</p>
              </div>
              <div class="icons">
                <a href="#"><img src="{% static 'institutional/eitech/img/icons/share1.svg' %}" alt=""></a>
              </div>
            </div>
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
          <div class="team-author-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/team/team-img3.png' %}" alt="">
            </div>
            <div class="content-area">
              <div class="text">
                <a href="{% url 'institutional:team' %}">Softwares, IoT e Dados</a>
                <div class="space8"></div>
                <p>Sistemas web, dashboards, sensores, telemetria, Python, tecnologia embarcada e integração de dados</p>
              </div>
              <div class="icons">
                <a href="#"><img src="{% static 'institutional/eitech/img/icons/share1.svg' %}" alt=""></a>
              </div>
            </div>
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== TESTIMONIAL AREA STARTS =======-->
  <div class="testimonial1-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-auto">
          <div class="testimonial-header text-center heading2 space-margin60">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>O que entregamos</h5>
            <div class="space20"></div>
            <h2 class="text-anime-style-3">Mais inovação.<br>Mais produtividade.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="img1 image-anime reveal">
            <img src="{% static 'institutional/eitech/img/all-images/testimonial/marketing02.png' %}" alt="">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="slider-galeria">
            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <ul>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                </ul>
                <div class="space16"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
              <p>"Quando a empresa escolhe a tecnologia certa, ela deixa de comprar apenas equipamento e passa a investir em produtividade, inovação e diferenciação."</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
                  </div>
                  <div class="man-text">
                <a href="{% url 'institutional:team' %}">Soluções tecnológicas</a>
                <div class="space12"></div>
                <p>Equipamentos e sistemas para evoluir</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <ul>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                </ul>
                <div class="space16"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
              <p>"Robótica aplicada cria experiência, valor percebido e novas possibilidades para escolas, empresas, eventos, atendimento e ambientes de inovação."</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
                  </div>
                  <div class="man-text">
                <a href="{% url 'institutional:team' %}">Robótica aplicada</a>
                <div class="space12"></div>
                <p>Inovação que aparece e gera valor</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <ul>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                </ul>
                <div class="space16"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
              <p>"A integração entre equipamentos, sensores, softwares e dados transforma operação comum em operação mais inteligente, rastreável e preparada para crescer."</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
                  </div>
                  <div class="man-text">
                <a href="{% url 'institutional:team' %}">Automação e dados</a>
                <div class="space12"></div>
                <p>Informação mais precisa para agir melhor</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <ul>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                </ul>
                <div class="space16"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
                <p>"Softwares e dashboards bem aplicados ajudam gestores a enxergar dados, acompanhar resultados e decidir sem depender apenas de impressão ou improviso."</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
                  </div>
                  <div class="man-text">
                    <a href="{% url 'institutional:team' %}">Softwares e dashboards</a>
                    <div class="space12"></div>
                    <p>Gestão com dados mais claros</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <ul>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                  <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                </ul>
                <div class="space16"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
                <p>"Manutenção e retrofit continuam importantes, mas entram como sustentação da tecnologia: para manter equipamentos, sistemas e soluções operando com segurança."</p>
              </div>
              <div class="space60"></div>
              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
                  </div>
                  <div class="man-text">
                    <a href="{% url 'institutional:team' %}">Suporte e retrofit</a>
                    <div class="space12"></div>
                    <p>Base técnica para manter a solução viva</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-1">
          <div class="slider-galeria-thumbs text-center d-lg-block d-none">
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>

            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>

            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== TESTIMONIAL AREA ENDS =======-->
{% endblock %}