{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block content %}
<!--===== HERO AREA STARTS =======-->
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" aria-hidden="true" class="elements5">
    <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" aria-hidden="true" class="elements4">
    <img src="{% static 'institutional/eitech/img/elements/gemini-ia-02.webp' %}" alt="" aria-hidden="true" class="elements1 keyframe5">
    <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" aria-hidden="true" class="elements16">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="inner-header text-center heading1">
            <h1>Blog de Automação, Robótica e Tecnologia</h1>
            <div class="space18"></div>
            <p class="text-white-50">
              Conteúdos sobre softwares, dados, IoT, automação, energia, painéis, tecnologia embarcada e aplicações inteligentes para empresas.
            </p>
            <div class="space28"></div>
            <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Blog de Tecnologia</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== BLOG AREA STARTS =======-->
  <div class="vl-blog-4-area-inner sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/blog/blog-img35.png' %}" alt="Blog Img35 | Smart Control Brasil">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_dashboards_decisoes_melhores' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt="" aria-hidden="true"> Softwares e Dashboards</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_dashboards_decisoes_melhores' %}">Como dashboards ajudam empresas a tomar decisões melhores</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_dashboards_decisoes_melhores' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/blog/blog-img36.png' %}" alt="Blog Img36 | Smart Control Brasil">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_automacao_conectada_maquinas_sensores_sistemas' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt="" aria-hidden="true"> Automação e IoT</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_automacao_conectada_maquinas_sensores_sistemas' %}">Automação conectada: máquinas, sensores e sistemas trabalhando juntos</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_automacao_conectada_maquinas_sensores_sistemas' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/blog/blog-img37.png' %}" alt="Blog Img37 | Smart Control Brasil">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_paineis_eletricos_automacao' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt="" aria-hidden="true"> Infraestrutura de Automação</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_paineis_eletricos_automacao' %}">Por que painéis elétricos bem projetados melhoram a automação?</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_paineis_eletricos_automacao' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/blog/blog-img38.png' %}" alt="Blog Img38 | Smart Control Brasil">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_dados_operacionais_empresa_inteligente' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt="" aria-hidden="true"> Dados e Tecnologia</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_dados_operacionais_empresa_inteligente' %}">Dados operacionais: o primeiro passo para uma empresa mais inteligente</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_dados_operacionais_empresa_inteligente' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="space30"></div>
          <div class="pagination-area">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="{% url 'institutional:blog' %}" aria-label="Anterior">
                    <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'institutional:blog' %}">1</a></li>
                <li class="page-item"><a class="page-link active" href="{% url 'institutional:blog_page_2' %}">2</a></li>
                <li class="page-item">
                  <a class="page-link m-0" href="{% url 'institutional:blog_page_2' %}" aria-label="Próxima">
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== BLOG AREA ENDS =======-->
{% endblock %}