{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block content %}
<!--===== HERO AREA STARTS =======-->
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" aria-hidden="true" class="elements5">
    <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" aria-hidden="true" class="elements4">
    <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" aria-hidden="true" class="elements1 keyframe5">
    <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" aria-hidden="true" class="elements16">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="inner-header text-center heading1">
            <h1>Blog de Automação, Robótica e Tecnologia</h1>
            <div class="space18"></div>
            <p class="text-white-50">
              Conteúdos sobre automação, robótica, softwares, IoT, tecnologia embarcada, inovação e aplicações reais para empresas, escolas e operações.
            </p>
            <div class="space28"></div>
            <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Blog de Tecnologia</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== BLOG AREA STARTS =======-->
  <div class="vl-blog-4-area-inner sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/blog/blog-img31.png' %}" alt="Blog Img31 | Smart Control Brasil">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_robotica_escolas_empresas_cidades' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt="" aria-hidden="true"> Tecnologia e Inovação</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_robotica_escolas_empresas_cidades' %}">Como a robótica está transformando escolas, empresas e cidades</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_robotica_escolas_empresas_cidades' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/blog/blog-img32.png' %}" alt="Blog Img32 | Smart Control Brasil">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_iot_mudando_negocios' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt="" aria-hidden="true"> IoT e Dados</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_iot_mudando_negocios' %}">O que é Internet das Coisas e por que ela está mudando os negócios</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_iot_mudando_negocios' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/blog/blog-img33.png' %}" alt="Blog Img33 | Smart Control Brasil">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_integrar_sensores_maquinas_sistemas' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt="" aria-hidden="true"> Automação e Software</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_integrar_sensores_maquinas_sistemas' %}">Como integrar sensores, máquinas e sistemas em uma única plataforma</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_integrar_sensores_maquinas_sistemas' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/blog/blog-img34.png' %}" alt="Blog Img34 | Smart Control Brasil">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_aplicacoes_reais_robos_brasil' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt="" aria-hidden="true"> Robótica Aplicada</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_aplicacoes_reais_robos_brasil' %}">5 aplicações reais de robôs que já estão presentes no Brasil</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_aplicacoes_reais_robos_brasil' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="space30"></div>
          <div class="pagination-area">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="{% url 'institutional:blog' %}" aria-label="Anterior">
                    <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>
                <li class="page-item"><a class="page-link active" href="{% url 'institutional:blog' %}">1</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'institutional:blog_page_2' %}">2</a></li>
                <li class="page-item">
                  <a class="page-link m-0" href="{% url 'institutional:blog_page_2' %}" aria-label="Próxima">
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== BLOG AREA ENDS =======-->
{% endblock %}