{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block content %}
<!--===== HERO AREA STARTS =======-->
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
    <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
    <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
    <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="inner-header text-center heading1">
            <h1>Blog Smart Control Brasil</h1>
            <div class="space28"></div>
            <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Blog Smart Control Brasil</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== BLOG AREA STARTS =======-->
  <div class="vl-blog-4-area-inner sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/blog/blog-img35.png' %}" alt="">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_sistemas_web_operacao_moderna' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt=""> Artigo técnico</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_sistemas_web_operacao_moderna' %}">Sistemas web como base da operação moderna</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_sistemas_web_operacao_moderna' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/blog/blog-img36.png' %}" alt="">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_automacao_industrial_conectada_gestao' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt=""> Insights Smart Control</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_automacao_industrial_conectada_gestao' %}">Automação industrial conectada à gestão</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_automacao_industrial_conectada_gestao' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/blog/blog-img37.png' %}" alt="">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_marketing_digital_tecnologia_processo' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt=""> Conteúdo institucional</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_marketing_digital_tecnologia_processo' %}">Marketing digital com tecnologia e processo</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_marketing_digital_tecnologia_processo' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/blog/blog-img38.png' %}" alt="">
            </div>
            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li><a href="{% url 'institutional:blog_smart360_operacao_inteligente' %}"><img src="{% static 'institutional/eitech/img/icons/calender3.svg' %}" alt=""> Artigo técnico</a></li>
                </ul>
              </div>
              <div class="space16"></div>
              <h4 class="vl-blog-1-title"><a href="{% url 'institutional:blog_smart360_operacao_inteligente' %}">Smart360: visão para uma operação mais inteligente</a></h4>
              <div class="space20"></div>
              <a href="{% url 'institutional:blog_smart360_operacao_inteligente' %}" class="readmore">Ler artigo <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="space30"></div>
          <div class="pagination-area">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="{% url 'institutional:blog' %}" aria-label="Anterior">
                    <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'institutional:blog' %}">1</a></li>
                <li class="page-item"><a class="page-link active" href="{% url 'institutional:blog_page_2' %}">2</a></li>
                <li class="page-item">
                  <a class="page-link m-0" href="{% url 'institutional:blog_page_2' %}" aria-label="Próxima">
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== BLOG AREA ENDS =======-->
{% endblock %}
