{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Engenharia Embarcada, Microcontroladores PIC e IoT | Smart Control Brasil{% endblock %}
{% block meta_description %}Engenharia embarcada, microcontroladores PIC, IoT e retrofit eletrônico para controle dedicado, sensores, atuadores e sistemas conectados com confiabilidade operacional.{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'institutional/eitech/css/scb-engenharia.css' %}">
{% endblock %}

{% block content %}

<!--===== HERO AREA STARTS =======-->
<div class="hero2-section-area scb-embarcada-bg-section scb-embarcada-hero-section scb-engenharia-bg-service21">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero2-header heading3">
          <h5 data-aos="fade-left" data-aos-duration="800" class="scb-embarcada-hero-badge">
            <img src="{% static 'institutional/eitech/img/icons/sub-logo2.svg' %}" alt="" aria-hidden="true">
            Smart Control Brasil
          </h5>

          <div class="space24"></div>

          <h1 class="text-anime-style-3">
            Engenharia Embarcada, Microcontroladores PIC e IoT
          </h1>

          <div class="space18"></div>

          <p data-aos="fade-left" data-aos-duration="900" class="scb-embarcada-tagline">
            Desenvolvimento de soluções eletrônicas sob medida para controle de máquinas,
            retrofit de placas, automação dedicada, sensores, atuadores e sistemas conectados
            com foco em confiabilidade, integração e continuidade operacional.
          </p>

          <div class="space32"></div>

          <div class="counter-boxarea scb-embarcada-counter">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-6" data-aos="zoom-in" data-aos-duration="800">
                <div class="counter-box">
                  <h2>PIC</h2>
                  <div class="space16"></div>
                  <p>Microcontroladores</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-6" data-aos="zoom-in" data-aos-duration="900">
                <div class="counter-box">
                  <h2>IoT</h2>
                  <div class="space16"></div>
                  <p>Sistemas conectados</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-4" data-aos="zoom-in" data-aos-duration="1000">
                <div class="space30 d-md-none d-block"></div>
                <div class="counter-box box2">
                  <h2>24/7</h2>
                  <div class="space16"></div>
                  <p>Controle crítico</p>
                </div>
              </div>
            </div>
          </div>

          <div class="space32"></div>

          <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
            <a href="{% url 'institutional:contact' %}" class="vl-btn3">
              <span class="demo">Solicitar diagnóstico técnico</span>
              <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero2-images-area">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="images">
                <div class="img1 reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/hero/eletronica01.webp' %}" alt="Soluções em engenharia embarcada Smart Control Brasil">
                </div>
                <div class="space30"></div>
                <div class="arrow-circle text-end">
                  <a href="{% url 'institutional:contact' %}">
                    <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                    <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                  </a>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements19.png' %}" alt="" aria-hidden="true" class="elements19">
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="img2 reveal">
                <img src="{% static 'institutional/eitech/img/all-images/hero/hero-img3.png' %}" alt="Microcontroladores, sensores e automação dedicada">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--===== HERO AREA ENDS =======-->


<!--===== ABOUT AREA STARTS =======-->
<div class="about2-section-area sp1 scb-embarcada-bg-section scb-engenharia-bg-service2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto">
        <div class="about2-header text-center heading4 space-margin60">
          <h5>
            <img src="{% static 'institutional/eitech/img/icons/sub-logo2.svg' %}" alt="" aria-hidden="true">
            Por que escolher a Smart Control Brasil
          </h5>
          <div class="space20"></div>
          <h2 class="text-anime-style-3">
            Controle embarcado não é só placa. É inteligência, segurança e continuidade.
          </h2>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-4 col-md-6 d-lg-block d-none">
        <div class="about-list-box box1">
          <span><i class="fa-solid fa-check"></i></span>
          Diagnóstico técnico antes da proposta
        </div>

        <div class="space56"></div>

        <div class="about-list-box box2">
          <span><i class="fa-solid fa-check"></i></span>
          Soluções para controle, medição e automação dedicada
        </div>

        <div class="space56"></div>

        <div class="about-list-box box3">
          <span><i class="fa-solid fa-check"></i></span>
          Atendimento para indústria, comércio, máquinas e equipamentos
        </div>
      </div>

      <div class="col-lg-4">
        <div class="about-images">
          <div class="img1 reveal">
            <img src="{% static 'institutional/eitech/img/all-images/about/iot-controle-01.webp' %}" alt="Desenvolvimento técnico em sistemas embarcados">
          </div>
          <img src="{% static 'institutional/eitech/img/elements/elements23.png' %}" alt="" aria-hidden="true" class="elements10">
        </div>
        <div class="space30 d-lg-none d-block"></div>
      </div>

      <div class="col-lg-4 col-md-6 d-lg-none d-block">
        <div class="about-list-box box1">
          <span><i class="fa-solid fa-check"></i></span>
          Diagnóstico técnico antes da proposta
        </div>

        <div class="space56"></div>

        <div class="about-list-box box2">
          <span><i class="fa-solid fa-check"></i></span>
          Soluções para controle, medição e automação dedicada
        </div>

        <div class="space56"></div>

        <div class="about-list-box box3">
          <span><i class="fa-solid fa-check"></i></span>
          Atendimento para indústria, comércio, máquinas e equipamentos
        </div>

        <div class="space56 d-lg-none d-block"></div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="about-list-box2 box1">
          <span><i class="fa-solid fa-check"></i></span>
          Integração com elétrica, automação e sistemas digitais
        </div>

        <div class="space56"></div>

        <div class="about-list-box2 box2">
          <span><i class="fa-solid fa-check"></i></span>
          Foco em confiabilidade, manutenção e operação contínua
        </div>

        <div class="space56"></div>

        <div class="about-list-box2 box3">
          <span><i class="fa-solid fa-check"></i></span>
          Projetos para retrofit eletrônico e controle dedicado
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== ABOUT AREA ENDS =======-->


<!--===== WORK AREA STARTS =======-->
<div class="work2-section-area sp1 scb-embarcada-bg-section scb-engenharia-bg-service21">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="soultions-images">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="img1 reveal">
                <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/work/eletronica-controle-02.webp' %}" alt="Engenharia embarcada profissional">
              </div>
              <div class="arrow-circle text-end">
                <a href="{% url 'institutional:contact' %}">
                  <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                  <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                </a>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="img2">
                <div class="star">
                  <img src="{% static 'institutional/eitech/img/elements/elements22.png' %}" alt="" aria-hidden="true" class="keyframe5">
                </div>
                <div class="space100"></div>
                <div class="img reveal">
                  <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/work/eletronica-controle-03.webp' %}" alt="Controle eletrônico e microcontroladores">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="solution-header heading4">
          <h5>
            <span><img src="{% static 'institutional/eitech/img/icons/sub-logo2.svg' %}" alt="" aria-hidden="true"></span>
            Engenharia aplicada ao controle embarcado
          </h5>

          <div class="space24"></div>

          <h2 class="text-anime-style-3">
            Análise técnica para reduzir falhas, obsolescência e paradas inesperadas
          </h2>

          <div class="space16"></div>

          <p data-aos="fade-left" data-aos-duration="800">
            A Smart Control Brasil atua na análise, desenvolvimento e modernização de sistemas
            eletrônicos dedicados, considerando sensores, atuadores, lógica de controle,
            integração com máquinas, disponibilidade operacional e segurança do processo.
          </p>

          <div class="space24"></div>

          <div class="bg-progress" data-aos="fade-left" data-aos-duration="900">
            <div class="progress-bar">
              <label>Microcontroladores PIC <span>95%</span></label>
              <div class="progress">
                <div class="progress-inner" data-progress="95" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-label="Porcentagem de conclusão do projeto"></div>
              </div>
            </div>

            <div class="progress-bar">
              <label>Sistemas Embarcados <span>98%</span></label>
              <div class="progress">
                <div class="progress-inner" data-progress="98" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-label="Porcentagem de conclusão do projeto"></div>
              </div>
            </div>

            <div class="progress-bar">
              <label>Retrofit Eletrônico <span>97%</span></label>
              <div class="progress">
                <div class="progress-inner" data-progress="97" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-label="Porcentagem de conclusão do projeto"></div>
              </div>
            </div>
          </div>

          <div class="space32"></div>

          <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
            <a href="{% url 'institutional:contact' %}" class="vl-btn3">
              <span class="demo">Falar com especialista</span>
              <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--===== WORK AREA ENDS =======-->


<!--===== SERVICE AREA STARTS =======-->
<div class="service2-section-area sp1 scb-embarcada-bg-section scb-engenharia-bg-service2">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto">
        <div class="service-header text-center heading4 space-margin60">
          <h5>
            <img src="{% static 'institutional/eitech/img/icons/sub-logo2.svg' %}" alt="" aria-hidden="true">
            Soluções atendidas
          </h5>
          <div class="space20"></div>
          <h2 class="text-anime-style-3">
            Microcontroladores, IoT e retrofit eletrônico para operação profissional
          </h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 m-auto">
        <div class="service-widgets-section">

          <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-split" role="tabpanel" aria-labelledby="pills-split-tab" tabindex="0">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="service-boxarea">
                    <div class="icons" data-aos="fade-left" data-aos-duration="700">
                      <img src="{% static 'institutional/eitech/img/icons/service-icon7.svg' %}" alt="" aria-hidden="true">
                    </div>

                    <div class="space28"></div>

                    <div class="content-area">
                      <h3 data-aos="fade-left" data-aos-duration="800">
                        Microcontroladores PIC
                      </h3>

                      <div class="space16"></div>

                      <p data-aos="fade-left" data-aos-duration="900" class="scb-embarcada-service-note">
                        Desenvolvimento de firmware e soluções com microcontroladores PIC para máquinas,
                        dispositivos de controle, leitura de sensores, acionamento de saídas, temporizações,
                        alarmes, intertravamentos e comandos dedicados. Atuação em análise, desenvolvimento,
                        testes, documentação e aplicação prática.
                      </p>

                      <div class="space28"></div>

                      <div class="btn-area" data-aos="fade-left" data-aos-duration="1000">
                        <a href="{% url 'institutional:contact' %}" class="vl-btn3">
                          <span class="demo">Solicitar avaliação</span>
                          <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-1"></div>

                <div class="col-lg-5">
                  <div class="images-area">
                    <div class="img1 reveal">
                      <img src="{% static 'institutional/eitech/img/all-images/work/eletronica-controle-04.webp' %}" alt="Microcontrolador PIC">
                    </div>

                    <div class="arrow-circle text-end">
                      <a href="{% url 'institutional:contact' %}">
                        <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                        <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="tab-pane fade" id="pills-multisplit" role="tabpanel" aria-labelledby="pills-multisplit-tab" tabindex="0">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="service-boxarea">
                    <div class="icons" data-aos="fade-left" data-aos-duration="700">
                      <img src="{% static 'institutional/eitech/img/icons/service-icon8.svg' %}" alt="" aria-hidden="true">
                    </div>

                    <div class="space28"></div>

                    <div class="content-area">
                      <h3 data-aos="fade-left" data-aos-duration="800">
                        Sistemas Embarcados
                      </h3>

                      <div class="space16"></div>

                      <p data-aos="fade-left" data-aos-duration="900" class="scb-embarcada-service-note">
                        Soluções eletrônicas dedicadas para equipamentos, máquinas especiais,
                        bancadas de teste, dispositivos de medição e automações compactas.
                        Avaliamos sinais, entradas, saídas, alimentação, ambiente de operação,
                        segurança e forma ideal de integração com o processo.
                      </p>

                      <div class="space28"></div>

                      <div class="btn-area" data-aos="fade-left" data-aos-duration="1000">
                        <a href="{% url 'institutional:contact' %}" class="vl-btn3">
                          <span class="demo">Planejar sistema</span>
                          <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-1"></div>

                <div class="col-lg-5">
                  <div class="images-area">
                    <div class="img1 reveal">
                      <img src="{% static 'institutional/eitech/img/all-images/service/service-img1.png' %}" alt="Sistema embarcado">
                    </div>

                    <div class="arrow-circle text-end">
                      <a href="{% url 'institutional:contact' %}">
                        <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                        <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="tab-pane fade" id="pills-vrf" role="tabpanel" aria-labelledby="pills-vrf-tab" tabindex="0">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="service-boxarea">
                    <div class="icons" data-aos="fade-left" data-aos-duration="700">
                      <img src="{% static 'institutional/eitech/img/icons/service-icon9.svg' %}" alt="" aria-hidden="true">
                    </div>

                    <div class="space28"></div>

                    <div class="content-area">
                      <h3 data-aos="fade-left" data-aos-duration="800">
                        IoT e Monitoramento
                      </h3>

                      <div class="space16"></div>

                      <p data-aos="fade-left" data-aos-duration="900" class="scb-embarcada-service-note">
                        Soluções conectadas para coleta de dados, supervisão remota, alertas,
                        comunicação com sensores, envio de informações e integração com dashboards.
                        Indicado para máquinas, ambientes técnicos, processos produtivos,
                        sistemas de manutenção e aplicações que precisam de visibilidade em tempo real.
                      </p>

                      <div class="space28"></div>

                      <div class="btn-area" data-aos="fade-left" data-aos-duration="1000">
                        <a href="{% url 'institutional:contact' %}" class="vl-btn3">
                          <span class="demo">Avaliar IoT</span>
                          <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-1"></div>

                <div class="col-lg-5">
                  <div class="images-area">
                    <div class="img1 reveal">
                      <img src="{% static 'institutional/eitech/img/all-images/service/service-img1.png' %}" alt="IoT e monitoramento">
                    </div>

                    <div class="arrow-circle text-end">
                      <a href="{% url 'institutional:contact' %}">
                        <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                        <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="tab-pane fade" id="pills-camaras" role="tabpanel" aria-labelledby="pills-camaras-tab" tabindex="0">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="service-boxarea">
                    <div class="icons" data-aos="fade-left" data-aos-duration="700">
                      <img src="{% static 'institutional/eitech/img/icons/service-icon10.svg' %}" alt="" aria-hidden="true">
                    </div>

                    <div class="space28"></div>

                    <div class="content-area">
                      <h3 data-aos="fade-left" data-aos-duration="800">
                        Retrofit de Placas e Controles
                      </h3>

                      <div class="space16"></div>

                      <p data-aos="fade-left" data-aos-duration="900" class="scb-embarcada-service-note">
                        Soluções para equipamentos com placas obsoletas, controles sem suporte,
                        comandos antigos ou falhas recorrentes. Atuamos na análise da função original,
                        desenvolvimento de alternativas técnicas, integração elétrica, lógica de controle,
                        testes e prevenção de paradas por falta de peças.
                      </p>

                      <div class="space28"></div>

                      <div class="btn-area" data-aos="fade-left" data-aos-duration="1000">
                        <a href="{% url 'institutional:contact' %}" class="vl-btn3">
                          <span class="demo">Proteger minha operação</span>
                          <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-1"></div>

                <div class="col-lg-5">
                  <div class="images-area">
                    <div class="img1 reveal">
                      <img src="{% static 'institutional/eitech/img/all-images/service/service-img1.png' %}" alt="Retrofit eletrônico">
                    </div>

                    <div class="arrow-circle text-end">
                      <a href="{% url 'institutional:contact' %}">
                        <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                        <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="space80"></div>

          <div class="tabs-btn-area">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-split-tab" data-bs-toggle="pill" data-bs-target="#pills-split" type="button" role="tab" aria-controls="pills-split" aria-selected="true">
                  <span><img class="scb-embarcada-tab-icon" src="{% static 'institutional/eitech/img/icons/service-icon7.svg' %}" alt="" aria-hidden="true"></span>
                  PIC
                </button>
              </li>

              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-multisplit-tab" data-bs-toggle="pill" data-bs-target="#pills-multisplit" type="button" role="tab" aria-controls="pills-multisplit" aria-selected="false">
                  <span><img class="scb-embarcada-tab-icon" src="{% static 'institutional/eitech/img/icons/service-icon8.svg' %}" alt="" aria-hidden="true"></span>
                  Embarcados
                </button>
              </li>

              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-vrf-tab" data-bs-toggle="pill" data-bs-target="#pills-vrf" type="button" role="tab" aria-controls="pills-vrf" aria-selected="false">
                  <span><img class="scb-embarcada-tab-icon" src="{% static 'institutional/eitech/img/icons/service-icon9.svg' %}" alt="" aria-hidden="true"></span>
                  IoT
                </button>
              </li>

              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-camaras-tab" data-bs-toggle="pill" data-bs-target="#pills-camaras" type="button" role="tab" aria-controls="pills-camaras" aria-selected="false">
                  <span><img class="scb-embarcada-tab-icon" src="{% static 'institutional/eitech/img/icons/service-icon10.svg' %}" alt="" aria-hidden="true"></span>
                  Retrofit Eletrônico
                </button>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--===== SERVICE AREA ENDS =======-->


<!--===== APPLICATION AREA STARTS =======-->
<div class="team2-section-area sp2 scb-embarcada-bg-section scb-engenharia-bg-service21">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto">
        <div class="team-header space-margin60 heading4 text-center">
          <h5>
            <span><img src="{% static 'institutional/eitech/img/icons/sub-logo2.svg' %}" alt="" aria-hidden="true"></span>
            Aplicações
          </h5>
          <div class="space20"></div>
          <h2 class="text-anime-style-3">
            Onde a Smart Control Brasil pode atuar
          </h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
        <div class="scb-embarcada-application-card">
          <span><i class="fa-solid fa-store"></i></span>
          <h4>Máquinas e equipamentos comerciais</h4>
          <p>Controle dedicado para pequenos sistemas, automações específicas, alarmes, sensores e acionamentos.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="900">
        <div class="scb-embarcada-application-card">
          <span><i class="fa-solid fa-utensils"></i></span>
          <h4>Bancadas de teste e validação</h4>
          <p>Desenvolvimento de dispositivos para medição, ensaio, repetibilidade, acionamentos e coleta de dados.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="scb-embarcada-application-card">
          <span><i class="fa-solid fa-warehouse"></i></span>
          <h4>Indústrias e pequenos centros técnicos</h4>
          <p>Soluções para monitoramento, controle de processo, retrofit eletrônico e suporte à manutenção.</p>
        </div>
      </div>

      <div class="space30"></div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1100">
        <div class="scb-embarcada-application-card">
          <span><i class="fa-solid fa-dumbbell"></i></span>
          <h4>Ambientes comerciais automatizados</h4>
          <p>Controle de sensores, dispositivos, sinalizações, comandos locais e integração com sistemas digitais.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
        <div class="scb-embarcada-application-card">
          <span><i class="fa-solid fa-beer-mug-empty"></i></span>
          <h4>Projetos especiais sob medida</h4>
          <p>Criação de soluções eletrônicas quando não existe produto pronto adequado para a aplicação.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1300">
        <div class="scb-embarcada-application-card">
          <span><i class="fa-solid fa-microchip"></i></span>
          <h4>Salas técnicas e ambientes críticos</h4>
          <p>Monitoramento de grandezas, alarmes, controle eletrônico, sensores e integração com automação.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== APPLICATION AREA ENDS =======-->


<!--===== CTA AREA STARTS =======-->
<div class="cta2-section-area sp1 scb-embarcada-bg-section scb-embarcada-cta-fix scb-engenharia-bg-service2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="cta-header heading1">
          <h2 data-aos="fade-left" data-aos-duration="700">
            Modernize controles antigos com eletrônica dedicada
          </h2>

          <div class="space16"></div>

          <p data-aos="fade-left" data-aos-duration="800">
            Desenvolvemos soluções com microcontroladores PIC, sensores, atuadores, IoT e retrofit eletrônico
            para reduzir falhas, recuperar equipamentos e criar controles sob medida para sua operação.
          </p>

          <ul class="scb-embarcada-cta-list" data-aos="fade-left" data-aos-duration="850">
            <li><i class="fa-solid fa-check"></i> Diagnóstico técnico e plano de ação</li>
            <li><i class="fa-solid fa-check"></i> Desenvolvimento com PIC, sensores e atuadores</li>
            <li><i class="fa-solid fa-check"></i> Soluções para IoT, controle dedicado e retrofit eletrônico</li>
          </ul>

          <div class="space24"></div>

          <div class="btn-area1" data-aos="fade-left" data-aos-duration="900">
            <a href="{% url 'institutional:contact' %}" class="vl-btn3">
              <span class="demo">Falar com especialista</span>
              <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-2"></div>

      <div class="col-lg-4">
        <div class="cta-images">
          <img src="{% static 'institutional/eitech/img/elements/elements7.png' %}" alt="" aria-hidden="true" class="elements7 keyframe5">

          <div class="img1">
            <img src="{% static 'institutional/eitech/img/all-images/cta/cta-img2.png' %}" alt="Smart Control Brasil Engenharia Embarcada">
          </div>

          <ul class="aniamtion-key-1">
            <li><a href="#"><img src="{% static 'institutional/eitech/img/icons/check2.svg' %}" alt="" aria-hidden="true">Microcontroladores PIC</a></li>
            <li><a href="#"><img src="{% static 'institutional/eitech/img/icons/check2.svg' %}" alt="" aria-hidden="true">Sistemas Embarcados</a></li>
            <li><a href="#"><img src="{% static 'institutional/eitech/img/icons/check2.svg' %}" alt="" aria-hidden="true">Retrofit Eletrônico</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== CTA AREA ENDS =======-->

{% endblock %}