{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Smart Control Brasil | Automação, Robótica, Softwares e Tecnologia Embarcada{% endblock %}
{% block meta_description %}Soluções em automação, robótica, equipamentos, softwares, IoT e tecnologia embarcada para empresas que buscam inovação, produtividade e evolução tecnológica.{% endblock %}

{% block body_extra %} class="home-page"{% endblock %}

{% block extra_css %}
<style>
  body.home-page .hero1-section-area {
    padding-top: 176px;
  }
  @media (max-width: 767px) {
    body.home-page .hero1-section-area {
      padding-top: 132px;
    }
  }
  .pillar-check-list li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  .pillar-check-list img {
    width: 18px;
    flex: 0 0 18px;
    margin-top: 2px;
  }
</style>
{% endblock %}

{% block content %}
  <!--===== HERO AREA STARTS =======-->
  <div class="hero1-section-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <img src="{% static 'institutional/eitech/img/elements/elements6.png' %}" alt="" class="elements6">
    <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
    <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="hero1-header heading1">
            <h5 data-aos="fade-left" data-aos-duration="800">
              <span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>
              Smart Control Brasil
            </h5>
            <div class="space16"></div>

            <h1 class="text-anime-style-3">Automação, robótica, softwares e tecnologia embarcada.</h1>

            <div class="space16"></div>

            <p data-aos="fade-left" data-aos-duration="900">
              Fornecemos equipamentos, softwares e soluções inteligentes para transformar processos, ambientes e operações com tecnologia aplicada.
            </p>

            <div class="space32"></div>

            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
              <a href="{% url 'institutional:contact' %}" class="vl-btn1 mb-2">
                Solicitar solução tecnológica <i class="fa-solid fa-arrow-right"></i>
              </a>
              <a href="{% url 'institutional:service_automacao_industrial_clps' %}" class="vl-btn2">
                Ver soluções e equipamentos <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-5">
          <div class="hero-images-area">
            <div class="img1">
              <img src="{% static 'institutional/eitech/img/all-images/hero/hero-img1.png' %}" alt="Automação, robótica, softwares e tecnologia embarcada Smart Control Brasil">
            </div>
            <div class="image-bg1">
              <img src="{% static 'institutional/eitech/img/all-images/bg/img-bg1.png' %}" alt="">
            </div>
            <div class="elements">
              <img src="{% static 'institutional/eitech/img/elements/elements51.png' %}" alt="" class="elements3 aniamtion-key-1">
              <img src="{% static 'institutional/eitech/img/elements/elements50.png' %}" alt="" class="elements2 aniamtion-key-2">
              <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== ABOUT AREA STARTS =======-->
  <div class="about1-section-area sp1">
    <img src="{% static 'institutional/eitech/img/elements/elements9.png' %}" alt="" class="elements9">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-images-area">
            <img src="{% static 'institutional/eitech/img/elements/elements10.png' %}" alt="" class="elements10">

            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/about/robo01.png' %}" alt="Robótica e automação aplicada">
                </div>
                <div class="space30 d-lg-none d-block"></div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/about/note01.png' %}" alt="Softwares, programação e tecnologia aplicada">
                </div>
                <div class="space30"></div>
                <div class="img1 image-anime reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/about/marketing01.png' %}" alt="Automação, dados e tecnologia embarcada">
                </div>
              </div>
            </div>

            <div class="check-icons aniamtion-key-1">
              <img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">
              <p>Equipamentos, softwares, robótica e automação em uma só visão.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-5">
          <div class="about-header-area heading2">
            <h5>
              <span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>
              Sobre a Smart Control
            </h5>

            <div class="space24"></div>

            <h2 class="text-anime-style-3">Tecnologia aplicada para empresas que querem evoluir.</h2>

            <div class="space16"></div>

            <p data-aos="fade-left" data-aos-duration="800">
              A Smart Control Brasil atua na venda, integração e desenvolvimento de soluções em automação, robótica, softwares, IoT e tecnologia embarcada para diferentes setores.
            </p>

            <div class="space28"></div>

            <div class="row" data-aos="fade-left" data-aos-duration="900">
              <div class="col-lg-6 col-md-6">
                <div class="progresbar">
                  <div class="progressbar">
                    <div class="circle" data-percent="96">
                      <canvas width="80" height="80"></canvas>
                      <div class="count">96%</div>
                    </div>
                  </div>
                  <div class="content-area">
                    <h4>Inovação</h4>
                    <div class="space8"></div>
                    <p>Soluções modernas para novos desafios</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="space28 d-md-none d-block"></div>
                <div class="progresbar">
                  <div class="progressbar">
                    <div class="circle" data-percent="97">
                      <canvas width="80" height="80"></canvas>
                      <div class="count">97%</div>
                    </div>
                  </div>
                  <div class="content-area">
                    <h4>Tecnologia</h4>
                    <div class="space8"></div>
                    <p>Equipamentos, dados e sistemas integrados</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="space28"></div>

            <div class="pera-box" data-aos="fade-left" data-aos-duration="1000">
              <p>
                "Da ideia ao equipamento. Do equipamento ao software. Do software ao resultado."
              </p>
            </div>

            <div class="space28"></div>

            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">
                Falar sobre tecnologia <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== PILLARS START =======-->
  <div class="service1-section-area sp2" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="service-header text-center heading2 space-margin60">
            <h5>
              <span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>
              Soluções tecnológicas
            </h5>

            <div class="space24"></div>

            <h2 class="text-anime-style-3">Equipamentos, softwares e automação para negócios mais inteligentes.</h2>

            <div class="space16"></div>

            <p class="text-center">
              Soluções para indústria, educação, comércio, saúde, serviços e ambientes que precisam evoluir com tecnologia.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea h-100 d-flex flex-column">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon3.svg' %}" alt="">
            </div>

            <div class="arrow">
              <a href="{% url 'institutional:service_automacao_industrial_clps' %}">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>

            <div class="space24"></div>

            <a href="{% url 'institutional:service_automacao_industrial_clps' %}">
              Automação e Equipamentos
            </a>

            <div class="space16"></div>

            <p>
              Venda e integração de CLPs, IHMs, inversores, servoacionamentos, sensores, painéis, redes industriais e soluções de controle.
            </p>

            <div class="space16"></div>

            <ul class="list-unstyled text-start mb-3 flex-grow-1 pillar-check-list">
              <li class="mb-2">
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                CLPs Mitsubishi MELSEC e arquiteturas de automação
              </li>
              <li class="mb-2">
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                IHMs, inversores, sensores e componentes industriais
              </li>
              <li>
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                Soluções completas para máquinas, processos e produtividade
              </li>
            </ul>

            <div class="btn-area1 mt-auto">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">
                Solicitar equipamentos <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea h-100 d-flex flex-column">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon4.svg' %}" alt="">
            </div>

            <div class="arrow">
              <a href="{% url 'institutional:contact' %}">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>

            <div class="space24"></div>

            <a href="{% url 'institutional:contact' %}">
              Robótica e Inovação
            </a>

            <div class="space16"></div>

            <p>
              Soluções robóticas para educação, atendimento, demonstração, saúde, comércio, eventos, laboratórios e projetos de inovação.
            </p>

            <div class="space16"></div>

            <ul class="list-unstyled text-start mb-3 flex-grow-1 pillar-check-list">
              <li class="mb-2">
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                Robôs, kits e aplicações Xyron Robotics
              </li>
              <li class="mb-2">
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                Soluções para escolas, empresas e instituições
              </li>
              <li>
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                Robótica como produto, experiência e diferencial competitivo
              </li>
            </ul>

            <div class="btn-area1 mt-auto">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">
                Conhecer robôs <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service1-boxarea h-100 d-flex flex-column">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
            </div>

            <div class="arrow">
              <a href="{% url 'institutional:contact' %}">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>

            <div class="space24"></div>

            <a href="{% url 'institutional:contact' %}">
              Softwares, IoT e Dados
            </a>

            <div class="space16"></div>

            <p>
              Desenvolvimento e integração de softwares, dashboards, monitoramento remoto, IoT, automação com Python e sistemas inteligentes.
            </p>

            <div class="space16"></div>

            <ul class="list-unstyled text-start mb-3 flex-grow-1 pillar-check-list">
              <li class="mb-2">
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                Sistemas web, dashboards e indicadores operacionais
              </li>
              <li class="mb-2">
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                Sensores, telemetria, IoT e monitoramento remoto
              </li>
              <li>
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                Integração entre equipamentos, dados e decisões
              </li>
            </ul>

            <div class="btn-area1 mt-auto">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">
                Projetar software ou IoT <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-duration="1100">
          <div class="service1-boxarea h-100 d-flex flex-column">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon1.svg' %}" alt="">
            </div>

            <div class="arrow">
              <a href="{% url 'institutional:service_manutencao_tpm_confiabilidade' %}">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>

            <div class="space24"></div>

            <a href="{% url 'institutional:service_manutencao_tpm_confiabilidade' %}">
              Suporte Técnico e Retrofit
            </a>

            <div class="space16"></div>

            <p>
              Manutenção, retrofit, diagnóstico e suporte técnico para manter equipamentos e soluções tecnológicas operando com segurança.
            </p>

            <div class="space16"></div>

            <ul class="list-unstyled text-start mb-3 flex-grow-1 pillar-check-list">
              <li class="mb-2">
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                Retrofit, atualização e melhoria de sistemas existentes
              </li>
              <li class="mb-2">
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                Diagnóstico, documentação e suporte especializado
              </li>
              <li>
                <img src="{% static 'institutional/eitech/img/icons/check3.svg' %}" alt="">
                Manutenção como sustentação da tecnologia aplicada
              </li>
            </ul>

            <div class="btn-area1 mt-auto">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">
                Solicitar suporte técnico <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== WORK AREA STARTS =======-->
  <div class="work1-section-area sp1">
    <img src="{% static 'institutional/eitech/img/elements/elements11.png' %}" alt="" class="elements9">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="solution-header heading2">
            <h5>
              <span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>
              Por que investir em tecnologia
            </h5>

            <div class="space24"></div>

            <h2 class="text-anime-style-3">Mais inovação, mais controle e mais competitividade.</h2>

            <div class="space16"></div>

            <p data-aos="fade-left" data-aos-duration="800">
              Equipamentos inteligentes, softwares e automação ajudam empresas a vender melhor, operar melhor e tomar decisões com mais segurança.
            </p>

            <div class="space24"></div>

            <div class="bg-progress" data-aos="fade-left" data-aos-duration="900">
              <div class="progress-bar">
                <label>Automação e Equipamentos <span>96%</span></label>
                <div class="progress">
                  <div class="progress-inner" data-progress="96" style="width: 0%;"></div>
                </div>
              </div>

              <div class="progress-bar">
                <label>Robótica e Inovação <span>97%</span></label>
                <div class="progress">
                  <div class="progress-inner" data-progress="97" style="width: 0%;"></div>
                </div>
              </div>

              <div class="progress-bar">
                <label>Softwares, IoT e Dados <span>99%</span></label>
                <div class="progress">
                  <div class="progress-inner" data-progress="99" style="width: 0%;"></div>
                </div>
              </div>
            </div>

            <div class="space32"></div>

            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">
                Falar com especialista <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-2"></div>

        <div class="col-lg-5">
          <div class="soultions-images">
            <img src="{% static 'institutional/eitech/img/elements/elements52.png' %}" alt="" class="elements10">
            <div class="img1 reveal image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/work/dash01.png' %}" alt="Softwares, dashboards, IoT e dados operacionais">
            </div>
            <div class="img2 reveal image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/work/cyber01.png' %}" alt="Robótica, automação e tecnologia embarcada">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== PROCESS AREA STARTS =======-->
  <div class="work-others-section" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">
    <img src="{% static 'institutional/eitech/img/elements/elements49.png' %}" alt="" class="elements1 keyframe5">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="work-header heading1 text-center space-margin60">
            <h5>
              <span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>
              Como atuamos
            </h5>

            <div class="space24"></div>

            <h2 class="text-anime-style-3">Da necessidade à solução tecnológica.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== CASE AREA STARTS =======-->
  <div class="case1-section-area sp1">
    <div class="case-works-section-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="others-widget-area">
              <div class="row align-items-center">
                <div class="col-lg-4">
                  <div class="card-boxarea box1" data-aos="zoom-in" data-aos-duration="800">
                    <div class="div text-end">
                      <h3>01</h3>
                    </div>
                    <div class="content-area">
                      <a href="{% url 'institutional:service_details' %}">Entendimento da necessidade</a>
                      <div class="space14"></div>
                      <p>Primeiro entendemos o objetivo, o ambiente, o processo e o resultado esperado.</p>
                    </div>
                  </div>

                  <div class="space30"></div>

                  <div class="card-boxarea box2" data-aos="zoom-in" data-aos-duration="900">
                    <div class="content-area">
                      <a href="{% url 'institutional:service_details' %}">Seleção da solução</a>
                      <div class="space14"></div>
                      <p>Definimos equipamentos, softwares, robôs, sensores ou integrações mais adequadas.</p>
                    </div>
                    <div class="div text-end">
                      <h3>02</h3>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="images" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="{% static 'institutional/eitech/img/elements/elements12.png' %}" alt="" class="elements12">
                    <img src="{% static 'institutional/eitech/img/elements/elements13.png' %}" alt="" class="elements13">
                    <img src="{% static 'institutional/eitech/img/elements/elements14.png' %}" alt="" class="elements14">
                    <img src="{% static 'institutional/eitech/img/elements/elements15.png' %}" alt="" class="elements15">
                    <div class="img1">
                      <img src="{% static 'institutional/eitech/img/all-images/case/case01.png' %}" alt="Processo de solução tecnológica e automação">
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card-boxarea box3" data-aos="zoom-in" data-aos-duration="800">
                    <div class="div">
                      <h3>03</h3>
                    </div>
                    <div class="content-area2">
                      <a href="{% url 'institutional:service_details' %}">Fornecimento e integração</a>
                      <div class="space14"></div>
                      <p>Entregamos produtos, configuração, programação, instalação e integração quando necessário.</p>
                    </div>
                  </div>

                  <div class="space30"></div>

                  <div class="card-boxarea box4" data-aos="zoom-in" data-aos-duration="1000">
                    <div class="content-area2">
                      <a href="{% url 'institutional:service_details' %}">Evolução e suporte</a>
                      <div class="space14"></div>
                      <p>Acompanhamos a solução para ajustes, expansão, manutenção e novas aplicações.</p>
                    </div>
                    <div class="div">
                      <h3>04</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="case-header heading2 space-margin60">
            <h5>
              <span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>
              Aplicações
            </h5>

            <div class="space24"></div>

            <h2 class="text-anime-style-3">Tecnologia para empresas, escolas, máquinas e operações.</h2>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="case-slider-widget owl-carousel">
          <div class="case-slider-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/case/case02.png' %}" alt="CLPs, IHMs e equipamentos de automação">
            </div>
            <div class="content-area">
              <p>Automação</p>
              <div class="space16"></div>
              <a href="{% url 'institutional:project_automacao_industrial_clps' %}">
                CLPs, IHMs, sensores, inversores, servoacionamentos e soluções para controle de máquinas e processos
              </a>
              <div class="arrow">
                <a href="{% url 'institutional:project_automacao_industrial_clps' %}">
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="case-slider-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/case/case03.png' %}" alt="Robótica educacional e inovação tecnológica">
            </div>
            <div class="content-area">
              <p>Robótica</p>
              <div class="space16"></div>
              <a href="{% url 'institutional:contact' %}">
                Robôs educacionais, robôs de atendimento, demonstração, telepresença e soluções de inovação aplicada
              </a>
              <div class="arrow">
                <a href="{% url 'institutional:contact' %}">
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="case-slider-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/case/case04.png' %}" alt="Softwares, IoT e integração de dados">
            </div>
            <div class="content-area">
              <p>Softwares e IoT</p>
              <div class="space16"></div>
              <a href="{% url 'institutional:contact' %}">
                Sistemas web, dashboards, sensores, telemetria, integração com dados e automação com Python
              </a>
              <div class="arrow">
                <a href="{% url 'institutional:contact' %}">
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="case-slider-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/case/case02.png' %}" alt="Suporte técnico e retrofit tecnológico">
            </div>
            <div class="content-area">
              <p>Suporte e Retrofit</p>
              <div class="space16"></div>
              <a href="{% url 'institutional:service_manutencao_tpm_confiabilidade' %}">
                Modernização, diagnóstico, suporte técnico e manutenção para soluções de automação e tecnologia
              </a>
              <div class="arrow">
                <a href="{% url 'institutional:service_manutencao_tpm_confiabilidade' %}">
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== TESTIMONIAL AREA STARTS =======-->
  <div class="testimonial1-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="testimonial-header text-center heading2 space-margin60">
            <h5>
              <span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>
              Nossa postura
            </h5>

            <div class="space20"></div>

            <h2 class="text-anime-style-3">Tecnologia com critério, aplicação e visão de futuro.</h2>

            <div class="space16"></div>

            <p class="text-center">
              Não vendemos tecnologia por moda. Indicamos, integramos e desenvolvemos o que faz sentido para cada aplicação.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <div class="img1 image-anime reveal">
            <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img10.png' %}" alt="Engenharia, automação, robótica e tecnologia Smart Control Brasil">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="slider-galeria">
            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <p class="text-uppercase fw-semibold mb-2" style="font-size: 13px; letter-spacing: 0.06em;">Princípio 1</p>
                <div class="space8"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
                <p>
                  Tecnologia precisa resolver uma necessidade real. Antes de vender equipamento ou software, entendemos o objetivo da aplicação.
                </p>
              </div>

              <div class="space60"></div>

              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
                  </div>
                  <div class="man-text">
                    <a href="{% url 'institutional:contact' %}">Solicitar solução tecnológica</a>
                    <div class="space12"></div>
                    <p>Conversa inicial objetiva e sem compromisso.</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <p class="text-uppercase fw-semibold mb-2" style="font-size: 13px; letter-spacing: 0.06em;">Princípio 2</p>
                <div class="space8"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
                <p>
                  Equipamento bom precisa conversar com software, dados e pessoas. Integração é o que transforma produto em solução.
                </p>
              </div>

              <div class="space60"></div>

              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
                  </div>
                  <div class="man-text">
                    <a href="{% url 'institutional:services' %}">Conhecer soluções</a>
                    <div class="space12"></div>
                    <p>Robótica, automação, IoT e softwares aplicados.</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <p class="text-uppercase fw-semibold mb-2" style="font-size: 13px; letter-spacing: 0.06em;">Princípio 3</p>
                <div class="space8"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
                <p>
                  Robótica não é enfeite tecnológico. Quando bem aplicada, ela gera experiência, aprendizado, produtividade e percepção de inovação.
                </p>
              </div>

              <div class="space60"></div>

              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
                  </div>
                  <div class="man-text">
                    <a href="{% url 'institutional:contact' %}">Conhecer robótica</a>
                    <div class="space12"></div>
                    <p>Produtos e aplicações para diferentes setores.</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>

            <div class="testimonial-slider-content-area">
              <div class="testimonial-author-area">
                <p class="text-uppercase fw-semibold mb-2" style="font-size: 13px; letter-spacing: 0.06em;">Princípio 4</p>
                <div class="space8"></div>
                <img src="{% static 'institutional/eitech/img/icons/quito1.svg' %}" alt="" class="quito1">
                <img src="{% static 'institutional/eitech/img/elements/elements18.png' %}" alt="" class="elements18">
                <p>
                  Dados só têm valor quando viram ação. Por isso conectamos automação, sensores, softwares e indicadores para apoiar decisões.
                </p>
              </div>

              <div class="space60"></div>

              <div class="testimonial-man-info-area">
                <div class="man-images-text">
                  <div class="mans-img">
                    <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
                  </div>
                  <div class="man-text">
                    <a href="{% url 'institutional:contact' %}">Planejar IoT e software</a>
                    <div class="space12"></div>
                    <p>Controle, integração e inteligência aplicada.</p>
                  </div>
                </div>
                <img src="{% static 'institutional/eitech/img/elements/elements17.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-1">
          <div class="slider-galeria-thumbs text-center d-lg-block d-none">
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img2.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img3.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img4.png' %}" alt="">
            </div>
            <div class="testimonial3-sliders-img">
              <img src="{% static 'institutional/eitech/img/all-images/testimonial/testimonial-img5.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== TEAM AREA STARTS =======-->
  <div class="team1-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-auto">
          <div class="team-header space-margin60 heading2 text-center">
            <h5>
              <span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>
              Competências técnicas
            </h5>

            <div class="space20"></div>

            <h2 class="text-anime-style-3">Base técnica para vender, integrar e desenvolver tecnologia.</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="team-author-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/team/marcelo.png' %}" alt="Engenharia de automação e controle">
            </div>
            <div class="content-area">
              <div class="text">
                <a href="{% url 'institutional:team' %}">Automação e Controle</a>
                <div class="space8"></div>
                <h5 class="pb-2">CLPs, IHMs e Redes</h5>
                <p>Seleção, integração e aplicação de equipamentos para máquinas, processos e sistemas automatizados</p>
              </div>
              <div class="icons">
                <a href="{% url 'institutional:contact' %}">
                  <img src="{% static 'institutional/eitech/img/icons/share1.svg' %}" alt="">
                </a>
              </div>
            </div>
            <ul>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="team-author-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/team/team-img2.png' %}" alt="Robótica e tecnologia aplicada">
            </div>
            <div class="content-area">
              <div class="text">
                <a href="{% url 'institutional:team' %}">Robótica e Produtos</a>
                <div class="space8"></div>
                <h5 class="pb-2">Xyron e Soluções Aplicadas</h5>
                <p>Robôs, kits, equipamentos e aplicações para educação, atendimento, inovação e ambientes operacionais</p>
              </div>
              <div class="icons">
                <a href="{% url 'institutional:contact' %}">
                  <img src="{% static 'institutional/eitech/img/icons/share1.svg' %}" alt="">
                </a>
              </div>
            </div>
            <ul>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
          <div class="team-author-boxarea">
            <div class="img1 image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/team/team-img3.png' %}" alt="Softwares, IoT e dados">
            </div>
            <div class="content-area">
              <div class="text">
                <a href="{% url 'institutional:team' %}">Softwares e IoT</a>
                <div class="space8"></div>
                <h5 class="pb-2">Python, Dados e Integração</h5>
                <p>Dashboards, sistemas web, sensores, telemetria e integração entre equipamentos, dados e gestão</p>
              </div>
              <div class="icons">
                <a href="{% url 'institutional:contact' %}">
                  <img src="{% static 'institutional/eitech/img/icons/share1.svg' %}" alt="">
                </a>
              </div>
            </div>
            <ul>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="{% url 'institutional:contact' %}"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===== BLOG AREA STARTS =======-->
  <div class="vl-blog-1-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 m-auto">
          <div class="vl-blog-1-section-box heading2 text-center space-margin60">
            <h5 class="vl-section-subtitle">
              <span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>
              Conteúdo técnico
            </h5>

            <div class="space20"></div>

            <h2 class="vl-section-title text-anime-style-3">Tecnologia aplicada sem enrolação.</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6" data-aos="fade-left" data-aos-duration="900">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/blog/blog-img29.png' %}" alt="Automação, equipamentos e tecnologia aplicada">
            </div>

            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li>
                    <a href="{% url 'institutional:contact' %}">
                      <img src="{% static 'institutional/eitech/img/icons/calender1.svg' %}" alt="">
                      Artigo técnico <span> | </span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'institutional:contact' %}">
                      <img src="{% static 'institutional/eitech/img/icons/user1.svg' %}" alt="">
                      Equipe Smart Control Brasil
                    </a>
                  </li>
                </ul>
              </div>

              <div class="space20"></div>

              <h4 class="vl-blog-1-title">
                <a href="{% url 'institutional:blog_details' %}">
                  Como escolher equipamentos de automação para sua empresa?
                </a>
              </h4>

              <div class="space16"></div>

              <p>
                Entenda como CLPs, IHMs, sensores, inversores e softwares podem transformar processos e abrir caminho para mais produtividade.
              </p>

              <div class="vl-blog-1-icon">
                <a href="{% url 'institutional:blog_details' %}">
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6" data-aos="fade-right" data-aos-duration="1000">
          <div class="vl-blog-1-item">
            <div class="vl-blog-1-thumb image-anime">
              <img src="{% static 'institutional/eitech/img/all-images/blog/blog-img30.png' %}" alt="Robótica, IoT, softwares e inovação">
            </div>

            <div class="vl-blog-1-content">
              <div class="vl-blog-meta">
                <ul>
                  <li>
                    <a href="{% url 'institutional:contact' %}">
                      <img src="{% static 'institutional/eitech/img/icons/calender1.svg' %}" alt="">
                      Artigo técnico <span> | </span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'institutional:contact' %}">
                      <img src="{% static 'institutional/eitech/img/icons/user1.svg' %}" alt="">
                      Equipe Smart Control Brasil
                    </a>
                  </li>
                </ul>
              </div>

              <div class="space20"></div>

              <h4 class="vl-blog-1-title">
                <a href="{% url 'institutional:blog_details' %}">
                  Robótica, IoT e software: por onde começar?
                </a>
              </h4>

              <div class="space16"></div>

              <p>
                Veja como empresas, escolas e instituições podem aplicar tecnologia sem complicar o projeto e sem comprar equipamento errado.
              </p>

              <div class="vl-blog-1-icon">
                <a href="{% url 'institutional:blog_details' %}">
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="space18"></div>
          <div class="btn-area1 text-center">
            <a href="{% url 'institutional:blog' %}" class="vl-btn2">
              Ver conteúdos técnicos <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== BLOG AREA ENDS =======-->
{% endblock %}