{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block content %}
<!--===== HERO AREA STARTS =======-->
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
    <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
    <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
    <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="inner-header text-center heading1">
            <h1>Soluções em automação, robótica, softwares e refrigeração</h1>
            <div class="space18"></div>
            <p>Fornecemos e integramos equipamentos, robôs, sensores, sistemas, softwares, IoT e soluções inteligentes para empresas que querem inovar, automatizar e crescer com tecnologia aplicada.</p>
            <div class="space28"></div>
            <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Soluções</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== SERVICE AREA STARTS =======-->
  <div class="service1-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon3.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_automacao_industrial_clps' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_automacao_industrial_clps' %}">Automação e Equipamentos</a>
            <div class="space16"></div>
            <p>CLPs, IHMs, inversores, servoacionamentos, sensores, painéis, redes industriais e componentes para máquinas, processos e sistemas automatizados.</p>
            <div class="space24"></div>
            <h5>01</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_robotica_integracao' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_robotica_integracao' %}">Robótica e Inovação</a>
            <div class="space16"></div>
            <p>Soluções Xyron Robotics para escolas, laboratórios, empresas, comércio, saúde, atendimento, eventos, demonstrações e projetos de inovação.</p>
            <div class="space24"></div>
            <h5>02</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon4.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:representada_mitsubishi_automacao' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:representada_mitsubishi_automacao' %}">Suporte Técnico e Retrofit</a>
            <div class="space16"></div>
            <p>Modernização, diagnóstico, ajustes, documentação e suporte técnico para manter equipamentos, sistemas e soluções operando com segurança.</p>
            <div class="space24"></div>
            <h5>03</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1100">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:parceiro_xyron_robotics' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:parceiro_xyron_robotics' %}">Softwares, IoT e Dados</a>
            <div class="space16"></div>
            <p>Sistemas web, dashboards, sensores, telemetria, monitoramento remoto, integração com dados, automação com Python e dispositivos inteligentes.</p>
            <div class="space24"></div>
            <h5>04</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon6.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Produtos Tecnológicos</a>
            <div class="space16"></div>
            <p>Robôs, kits, componentes, placas, controladores, sensores, dispositivos inteligentes e soluções de automação para aplicações comerciais e técnicas.</p>
            <div class="space24"></div>
            <h5>05</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1300">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon1.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_automacao_industrial_clps' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_automacao_industrial_clps' %}">Acionamentos e Motion Control</a>
            <div class="space16"></div>
            <p>Inversores, servoacionamentos, controle de movimento, posicionamento, sincronismo, precisão, eficiência energética e desempenho em máquinas.</p>
            <div class="space24"></div>
            <h5>06</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon3.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_automacao_industrial_clps' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_automacao_industrial_clps' %}">Painéis e Baixa Tensão</a>
            <div class="space16"></div>
            <p>Painéis elétricos, comandos, proteção, organização técnica, baixa tensão, retrofit e preparação da infraestrutura para automação e controle.</p>
            <div class="space24"></div>
            <h5>07</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_diagnostico_ia_dados_automacao' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_diagnostico_ia_dados_automacao' %}">Engenharia da Solução</a>
            <div class="space16"></div>
            <p>Mapeamos a necessidade, selecionamos tecnologias, definimos arquitetura, produtos, softwares e integrações para entregar uma solução viável.</p>
            <div class="space24"></div>
            <h5>08</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== SERVICE AREA ENDS =======-->

  <!--===== ABOUT AREA STARTS =======-->
  <div class="about6-section-area-widget sp1" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="about6-header heading2 bg-heading">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Missão e visão</h5>
            <div class="space18"></div>
            <h2 class="text-anime-style-3">Nossa missão é transformar tecnologia em solução prática, vendável e aplicável.</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">Nossa visão é aproximar empresas, escolas e operações das tecnologias certas: automação, robótica, softwares, IoT, dados, produtos inteligentes e suporte técnico especializado.</p>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1000">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:service_details' %}">Tecnologia aplicada ao negócio</a>
                <div class="space16"></div>
                <p>Levamos equipamentos, robôs, sensores, softwares e automação para gerar produtividade, inovação, diferenciação comercial e mais controle operacional.</p>
              </div>
            </div>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1100">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:parceiro_xyron_robotics' %}">Produtos, dados e integração</a>
                <div class="space16"></div>
                <p>Conectamos produtos físicos, sistemas digitais, sensores, dashboards e dados para criar soluções mais inteligentes, rastreáveis e preparadas para expansão.</p>
              </div>
            </div>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">Conhecer soluções <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="images-area">
            <img src="{% static 'institutional/eitech/img/elements/elements27.png' %}" alt="" class="elements27">
            <div class="img1 image-anime reveal">
              <img src="{% static 'institutional/eitech/img/all-images/about/about-img27.png' %}" alt="">
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img28.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img29.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== ABOUT AREA ENDS =======-->
{% endblock %}