{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block content %}
<!--===== HERO AREA STARTS =======-->
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
    <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
    <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
    <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="inner-header text-center heading1">
            <h1>Soluções em Automação Industrial</h1>
            <div class="space18"></div>
            <p>Integramos CLPs, IHMs, inversores, servoacionamentos, painéis elétricos, robótica, supervisórios, energia e manutenção técnica para tornar máquinas e processos mais produtivos, confiáveis e controláveis.</p>
            <div class="space28"></div>
            <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Soluções</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== SERVICE AREA STARTS =======-->
  <div class="service1-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon3.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_automacao_industrial_clps' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_automacao_industrial_clps' %}">CLPs e Automação de Máquinas</a>
            <div class="space16"></div>
            <p>Projetos, melhorias, diagnóstico e integração de CLPs para máquinas, linhas produtivas, painéis, sensores, atuadores e redes industriais.</p>
            <div class="space24"></div>
            <h5>01</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_robotica_integracao' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_robotica_integracao' %}">Robótica e Integração Industrial</a>
            <div class="space16"></div>
            <p>Integração de robôs, células automatizadas, equipamentos, sensores e sistemas de controle para operações mais produtivas, repetíveis e rastreáveis.</p>
            <div class="space24"></div>
            <h5>02</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon4.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_manutencao_tpm_confiabilidade' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_manutencao_tpm_confiabilidade' %}">Manutenção, TPM e Confiabilidade</a>
            <div class="space16"></div>
            <p>Diagnóstico de falhas, planos preventivos, análise de paradas, indicadores e melhoria contínua para aumentar disponibilidade e reduzir falhas recorrentes.</p>
            <div class="space24"></div>
            <h5>03</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1100">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:smart360' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:smart360' %}">Supervisório, Dados e Indicadores</a>
            <div class="space16"></div>
            <p>Coleta de dados industriais, dashboards, registros técnicos, alarmes, tendências e indicadores para acompanhar produção, manutenção e desempenho operacional.</p>
            <div class="space24"></div>
            <h5>04</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon6.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_inteligencia_artificial' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_inteligencia_artificial' %}">Inversores e Eficiência Energética</a>
            <div class="space16"></div>
            <p>Parametrização, substituição e diagnóstico de inversores de frequência para motores, bombas, ventiladores, esteiras, compressores e aplicações de economia de energia.</p>
            <div class="space24"></div>
            <h5>05</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1300">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon1.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Servoacionamentos e Motion Control</a>
            <div class="space16"></div>
            <p>Aplicações com servoacionamentos, controle de movimento, posicionamento, sincronismo, precisão, repetibilidade e melhoria de performance em máquinas industriais.</p>
            <div class="space24"></div>
            <h5>06</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon3.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_marketing_digital' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_marketing_digital' %}">Retrofit de Máquinas e Painéis</a>
            <div class="space16"></div>
            <p>Modernização de comandos, substituição de tecnologias obsoletas, adequação de painéis elétricos, baixa tensão e melhoria da manutenibilidade da máquina.</p>
            <div class="space24"></div>
            <h5>07</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_diagnostico_ia_dados_automacao' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_diagnostico_ia_dados_automacao' %}">Diagnóstico Industrial e Projeto Técnico</a>
            <div class="space16"></div>
            <p>Mapeamos máquinas, processos, falhas, sinais, riscos e oportunidades para definir a melhor solução de automação, retrofit, dados ou manutenção.</p>
            <div class="space24"></div>
            <h5>08</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== SERVICE AREA ENDS =======-->

  <!--===== ABOUT AREA STARTS =======-->
  <div class="about6-section-area-widget sp1" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="about6-header heading2 bg-heading">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Missão e visão</h5>
            <div class="space18"></div>
            <h2 class="text-anime-style-3">Nossa missão é aplicar automação industrial com engenharia, método e resultado operacional.</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">Nossa visão é apoiar empresas na evolução de máquinas e processos por meio de automação, manutenção técnica, dados industriais, energia, retrofit e confiabilidade operacional.</p>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1000">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:service_details' %}">Engenharia aplicada à operação</a>
                <div class="space16"></div>
                <p>Levamos automação, controle, acionamento e melhoria técnica para alinhar máquinas, processos, pessoas e manutenção ao dia a dia real da empresa.</p>
              </div>
            </div>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1100">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:smart360' %}">Dados, supervisão e confiabilidade</a>
                <div class="space16"></div>
                <p>Integramos registros técnicos, supervisórios, indicadores e dados de operação para apoiar decisões, reduzir paradas e melhorar a disponibilidade dos ativos.</p>
              </div>
            </div>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">Conhecer soluções <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="images-area">
            <img src="{% static 'institutional/eitech/img/elements/elements27.png' %}" alt="" class="elements27">
            <div class="img1 image-anime reveal">
              <img src="{% static 'institutional/eitech/img/all-images/about/about-img27.png' %}" alt="">
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img28.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img29.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== ABOUT AREA ENDS =======-->
{% endblock %}