{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block content %}
<!--===== HERO AREA STARTS =======-->
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
    <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
    <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
    <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 m-auto">
          <div class="inner-header text-center heading1">
            <h1>Nossas Solucoes</h1>
            <div class="space28"></div>
            <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Nossas Solucoes</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== SERVICE AREA STARTS =======-->
  <div class="service1-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon1.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Cybersecurity para Empresas</a>
            <div class="space16"></div>
            <p>Diagnóstico, proteção e boas práticas de segurança digital para reduzir riscos, proteger dados e fortalecer a operação.</p>
            <div class="space24"></div>
            <h5>01</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Sistemas e Inteligencia Artificial</a>
            <div class="space16"></div>
            <p>Desenvolvimento de plataformas e aplicações com IA para automação, análise operacional e suporte à decisão.</p>
            <div class="space24"></div>
            <h5>02</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon3.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Automacao Industrial e CLPs</a>
            <div class="space16"></div>
            <p>Projetos, melhorias e suporte para máquinas, CLPs, painéis e integração de sistemas industriais.</p>
            <div class="space24"></div>
            <h5>03</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1100">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon4.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Manutencao Industrial e TPM</a>
            <div class="space16"></div>
            <p>Estratégias de manutenção, TPM, análise de falhas e planos preventivos para aumentar disponibilidade.</p>
            <div class="space24"></div>
            <h5>04</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Diagnostico de IA, Dados e Automacao</a>
            <div class="space16"></div>
            <p>Análise inicial de processos e dados para identificar oportunidades reais de automação, IA e ganho operacional.</p>
            <div class="space24"></div>
            <h5>05</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1300">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon6.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Sites, Videos e Marketing Digital</a>
            <div class="space16"></div>
            <p>Sites, vídeos, páginas de venda e conteúdo para melhorar presença digital e conversão.</p>
            <div class="space24"></div>
            <h5>06</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon4.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Cybersecurity para Empresas</a>
            <div class="space16"></div>
            <p>Diagnóstico, proteção e boas práticas de segurança digital para reduzir riscos, proteger dados e fortalecer a operação.</p>
            <div class="space24"></div>
            <h5>07</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Sistemas e Inteligencia Artificial</a>
            <div class="space16"></div>
            <p>Desenvolvimento de plataformas e aplicações com IA para automação, análise operacional e suporte à decisão.</p>
            <div class="space24"></div>
            <h5>08</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon6.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Automacao Industrial e CLPs</a>
            <div class="space16"></div>
            <p>Projetos, melhorias e suporte para máquinas, CLPs, painéis e integração de sistemas industriais.</p>
            <div class="space24"></div>
            <h5>09</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== SERVICE AREA ENDS =======-->

  <!--===== ABOUT AREA STARTS =======-->
  <div class="about6-section-area-widget sp1" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="about6-header heading2 bg-heading">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Missão e Visão</h5>
            <div class="space18"></div>
            <h2 class="text-anime-style-3">Missão: ajudar empresas a transformar processos, dados e tecnologia em operações mais organizadas e eficientes</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">Visão: ser referência em soluções integradas de engenharia, automação, IA e sistemas para pequenas e médias empresas.</p>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1000">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:service_details' %}">Soluções de infraestrutura de rede</a>
                <div class="space16"></div>
                <p>Infraestrutura de rede e conectividade para garantir disponibilidade e segurança na operação.</p>
              </div>
            </div>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1100">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:service_details' %}">Serviços de TI sob medida</a>
                <div class="space16"></div>
                <p>Serviços de TI alinhados à prática operacional do cliente, focados em entrega e continuidade.</p>
              </div>
            </div>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">Conhecer solucoes<i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="images-area">
            <img src="{% static 'institutional/eitech/img/elements/elements27.png' %}" alt="" class="elements27">
            <div class="img1 image-anime reveal">
              <img src="{% static 'institutional/eitech/img/all-images/about/about-img13.png' %}" alt="">
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img14.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img15.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== ABOUT AREA ENDS =======-->
{% endblock %}
