{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'institutional/eitech/css/scb-service.css' %}">
{% endblock %}

{% block body_extra %} class="homepage2-body body-bg2"{% endblock %}

{% block content %}
  <!--===== HERO AREA STARTS =======-->
  <div class="hero2-section-area scb-service-hero-marketing-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="hero2-header heading3">
            <h5 data-aos="fade-left" data-aos-duration="800"><img src="{% static 'institutional/eitech/img/icons/sub-logo2.svg' %}" alt="" aria-hidden="true">Softwares, Dashboards e Soluções Digitais</h5>
            <div class="space24"></div>
            <h1 class="text-anime-style-3">Softwares, dashboards e dados para operar e vender melhor</h1>
            <div class="space18"></div>
            <p data-aos="fade-left" data-aos-duration="900">Criamos soluções digitais para empresas que precisam organizar dados, apresentar serviços, automatizar rotinas e transformar informação em oportunidade real.</p>
            <div class="space18"></div>
            <p data-aos="fade-left" data-aos-duration="1000">A Smart Control Brasil desenvolve softwares, dashboards, formulários, integrações, automações e fluxos digitais com foco em operação, dados, vendas e tomada de decisão.</p>
            <div class="space32"></div>
            <div class="counter-boxarea">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-6" data-aos="zoom-in" data-aos-duration="800">
                  <div class="counter-box">
                    <h2>Software</h2>
                    <div class="space16"></div>
                    <p>base operacional</p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-6" data-aos="zoom-in" data-aos-duration="900">
                  <div class="counter-box">
                    <h2>Dados</h2>
                    <div class="space16"></div>
                    <p>mais clareza</p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4" data-aos="zoom-in" data-aos-duration="1000">
                  <div class="space30 d-md-none d-block"></div>
                  <div class="counter-box box2">
                    <h2>IoT</h2>
                    <div class="space16"></div>
                    <p>mais produtividade</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="{% url 'institutional:contact' %}" class="vl-btn3"><span class="demo">Alinhar solução</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
              <a href="{% url 'institutional:projects' %}" class="vl-btn3"><span class="demo">Ver projetos</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="hero2-images-area">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="images">
                  <div class="img1 reveal">
                    <img src="{% static 'institutional/eitech/img/all-images/hero/hero-img2.png' %}" alt="" aria-hidden="true">
                  </div>
                  <div class="space30"></div>
                  <div class="arrow-circle text-end">
                    <a href="{% url 'institutional:contact' %}">
                      <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                      <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1"></a>
                  </div>
                  <img src="{% static 'institutional/eitech/img/elements/elements19.png' %}" alt="" aria-hidden="true" class="elements19">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="img2 reveal">
                  <img src="{% static 'institutional/eitech/img/all-images/hero/hero-img3.png' %}" alt="" aria-hidden="true">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== ABOUT AREA STARTS =======-->
  <div class="about2-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="about2-header text-center heading4 space-margin60">
            <h5><img src="{% static 'institutional/eitech/img/icons/sub-logo2.svg' %}" alt="" aria-hidden="true">Serviços incluídos</h5>
            <div class="space20"></div>
            <h2 class="text-anime-style-3">Soluções digitais conectadas a operação, dados e oportunidades</h2>
            <div class="space18"></div>
            <p>Mais do que criar telas bonitas, o objetivo é transformar processos e dados em soluções digitais úteis. Unimos software, dashboards, formulários, automação, IoT e integrações para construir uma operação mais clara e sustentável.</p>
          </div>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 d-lg-block d-none">
          <div class="about-list-box box1">
            <span><i class="fa-solid fa-check"></i></span>
            Portais e interfaces digitais
          </div>
          <div class="space56"></div>
          <div class="about-list-box box2">
            <span><i class="fa-solid fa-check"></i></span>
            Formulários e páginas operacionais
          </div>
          <div class="space56"></div>
          <div class="about-list-box box3">
            <span><i class="fa-solid fa-check"></i></span>
            Dados e conteúdo operacional
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-images">
            <div class="img1 reveal">
              <img src="{% static 'institutional/eitech/img/all-images/about/about-img4.png' %}" alt="About Img4 | Smart Control Brasil">
            </div>
            <img src="{% static 'institutional/eitech/img/elements/elements23.png' %}" alt="" aria-hidden="true" class="elements10">
          </div>
          <div class="space30 d-lg-none d-block"></div>
        </div>

        <div class="col-lg-4 col-md-6 d-lg-none d-block">
          <div class="about-list-box box1">
            <span><i class="fa-solid fa-check"></i></span>
            Portais e interfaces digitais
          </div>
          <div class="space56"></div>
          <div class="about-list-box box2">
            <span><i class="fa-solid fa-check"></i></span>
            Formulários e páginas operacionais
          </div>
          <div class="space56"></div>
          <div class="about-list-box box3">
            <span><i class="fa-solid fa-check"></i></span>
            Dados e conteúdo operacional
          </div>
          <div class="space56 d-lg-none d-block"></div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="about-list-box2 box1">
            <span><i class="fa-solid fa-check"></i></span>
            Materiais digitais e apresentações
          </div>
          <div class="space56"></div>
          <div class="about-list-box2 box2">
            <span><i class="fa-solid fa-check"></i></span>
            Fluxos comerciais simples
          </div>
          <div class="space56"></div>
          <div class="about-list-box2 box3">
            <span><i class="fa-solid fa-check"></i></span>
            Integração com sistemas, sensores e automações
          </div>
        </div>
      </div>
      <div class="space60"></div>
      <div class="service1-section-area">
      <div class="row">
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons"><img src="{% static 'institutional/eitech/img/icons/service-icon7.svg' %}" alt="" aria-hidden="true"></div>
            <div class="space24"></div>
            <a href="{% url 'institutional:contact' %}">Portais e interfaces digitais</a>
            <div class="space16"></div>
            <p>Portais e interfaces para apresentar serviços, coletar dados, organizar solicitações, orientar clientes e apoiar a operação comercial.</p>
            <div class="space24"></div>
            <h5>01</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons"><img src="{% static 'institutional/eitech/img/icons/service-icon8.svg' %}" alt="" aria-hidden="true"></div>
            <div class="space24"></div>
            <a href="{% url 'institutional:contact' %}">Formulários e páginas operacionais</a>
            <div class="space16"></div>
            <p>Formulários e páginas focadas em solicitações, orçamentos, cadastros, chamados, demonstrações e captação de oportunidades qualificadas.</p>
            <div class="space24"></div>
            <h5>02</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service1-boxarea">
            <div class="icons"><img src="{% static 'institutional/eitech/img/icons/service-icon9.svg' %}" alt="" aria-hidden="true"></div>
            <div class="space24"></div>
            <a href="{% url 'institutional:contact' %}">Dados e conteúdo operacional</a>
            <div class="space16"></div>
            <p>Estrutura de informações, textos, bases de conhecimento e materiais digitais organizados para clareza, consulta e uso comercial.</p>
            <div class="space24"></div>
            <h5>03</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="1100">
          <div class="service1-boxarea">
            <div class="icons"><img src="{% static 'institutional/eitech/img/icons/service-icon10.svg' %}" alt="" aria-hidden="true"></div>
            <div class="space24"></div>
            <a href="{% url 'institutional:contact' %}">Materiais digitais e apresentações</a>
            <div class="space16"></div>
            <p>Apoio na criação de apresentações, materiais digitais, roteiros, demonstrações e conteúdos para explicar soluções tecnológicas.</p>
            <div class="space24"></div>
            <h5>04</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons"><img src="{% static 'institutional/eitech/img/icons/service-icon7.svg' %}" alt="" aria-hidden="true"></div>
            <div class="space24"></div>
            <a href="{% url 'institutional:contact' %}">Fluxos comerciais simples</a>
            <div class="space16"></div>
            <p>Organização da jornada comercial com formulário, contato, automação inicial, painel e acompanhamento de oportunidades.</p>
            <div class="space24"></div>
            <h5>05</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons"><img src="{% static 'institutional/eitech/img/icons/service-icon8.svg' %}" alt="" aria-hidden="true"></div>
            <div class="space24"></div>
            <a href="{% url 'institutional:contact' %}">Automação aplicada a vendas</a>
            <div class="space16"></div>
            <p>Uso de automações, assistentes e dados para acelerar atendimento, triagem, propostas, análises e acompanhamento comercial.</p>
            <div class="space24"></div>
            <h5>06</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service1-boxarea">
            <div class="icons"><img src="{% static 'institutional/eitech/img/icons/service-icon9.svg' %}" alt="" aria-hidden="true"></div>
            <div class="space24"></div>
            <a href="{% url 'institutional:contact' %}">Dados, indicadores e integração</a>
            <div class="space16"></div>
            <p>Estruturação de dados, indicadores, dashboards, integrações e rotinas digitais para melhorar visibilidade da operação.</p>
            <div class="space24"></div>
            <h5>07</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="1100">
          <div class="service1-boxarea">
            <div class="icons"><img src="{% static 'institutional/eitech/img/icons/service-icon10.svg' %}" alt="" aria-hidden="true"></div>
            <div class="space24"></div>
            <a href="{% url 'institutional:contact' %}">Integração com sistemas, sensores e automações</a>
            <div class="space16"></div>
            <p>Conexão entre formulários, CRM, e-mail, WhatsApp, dashboards, sensores e processos comerciais para reduzir perda de informação.</p>
            <div class="space24"></div>
            <h5>08</h5>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!--===== ABOUT AREA ENDS =======-->

  <!--===== WORK AREA STARTS =======-->
  <div class="work2-section-area sp1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="soultions-images">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="img1 reveal">
                  <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/work/work-img3.png' %}" alt="Work Img3 | Smart Control Brasil">
                </div>
                <div class="arrow-circle text-end">
                  <a href="{% url 'institutional:projects' %}">
                    <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                    <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="img2">
                  <div class="star">
                    <img src="{% static 'institutional/eitech/img/elements/elements22.png' %}" alt="" aria-hidden="true" class="keyframe5">
                  </div>
                  <div class="space100"></div>
                  <div class="img reveal">
                    <img loading="lazy" src="{% static 'institutional/eitech/img/all-images/work/work-img4.png' %}" alt="Work Img4 | Smart Control Brasil">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="solution-header heading4">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo2.svg' %}" alt="" aria-hidden="true"></span>Nossa abordagem em soluções digitais</h5>
            <div class="space24"></div>
            <h2 class="text-anime-style-3">Software e dados como processo comercial</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="800">Software precisa ser tratado como processo, não como tela isolada. Por isso, conectamos dados, tecnologia, canais de contato e acompanhamento para gerar operação digital com intenção comercial.</p>
            <div class="space24"></div>
            <div class="bg-progress" data-aos="fade-left" data-aos-duration="900">
              <div class="progress-bar">
                <label>Entendimento da necessidade digital atual <span>01</span></label>
                <div class="progress">
                  <div class="progress-inner scb-service-progress-full" data-progress="100"></div>
                </div>
              </div>

              <div class="progress-bar">
                <label>Definição do objetivo operacional e comercial <span>02</span></label>
                <div class="progress">
                  <div class="progress-inner scb-service-progress-full" data-progress="100"></div>
                </div>
              </div>

              <div class="progress-bar">
                <label>Criação, integração e evolução tecnológica <span>03</span></label>
                <div class="progress">
                  <div class="progress-inner scb-service-progress-full" data-progress="100"></div>
                </div>
              </div>
            </div>
            <div class="space24"></div>
            <ol>
              <li>Entendimento da necessidade digital atual</li>
              <li>Definição do objetivo operacional e comercial</li>
              <li>Estruturação da mensagem e da oferta</li>
              <li>Criação do site, página ou conteúdo</li>
              <li>Integração com canais de contato</li>
              <li>Otimização e evolução contínua</li>
            </ol>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
              <a href="{% url 'institutional:contact' %}" class="vl-btn3"><span class="demo">Alinhar solução</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== WORK AREA ENDS =======-->

  <!--===== SERVICE AREA STARTS =======-->
  <div class="service2-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="service-header text-center heading4 space-margin60">
            <h5><img src="{% static 'institutional/eitech/img/icons/sub-logo2.svg' %}" alt="" aria-hidden="true">Soluções do serviço</h5>
            <div class="space20"></div>
            <h2 class="text-anime-style-3">Da estratégia ao canal digital em operação</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="service-widgets-section">
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="service-boxarea">
                      <div class="icons" data-aos="fade-left" data-aos-duration="700">
                        <img src="{% static 'institutional/eitech/img/icons/service-icon7.svg' %}" alt="" aria-hidden="true">
                      </div>
                      <div class="space28"></div>
                      <div class="content-area">
                        <h3 data-aos="fade-left" data-aos-duration="800">Portais e interfaces digitais</h3>
                        <div class="space16"></div>
                        <p data-aos="fade-left" data-aos-duration="900">Sites profissionais para apresentar a empresa, seus serviços, diferenciais, autoridade técnica, canais de contato e posicionamento comercial.</p>
                        <div class="space28"></div>
                        <div class="btn-area" data-aos="fade-left" data-aos-duration="1000">
                          <a href="{% url 'institutional:contact' %}" class="vl-btn3"><span class="demo">Alinhar solução</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                  <div class="col-lg-5">
                    <div class="images-area">
                      <div class="img1 reveal">
                        <img src="{% static 'institutional/eitech/img/all-images/service/service-img1.png' %}" alt="Service Img1 | Smart Control Brasil">
                      </div>
                      <div class="arrow-circle text-end">
                        <a href="{% url 'institutional:contact' %}">
                          <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                          <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="service-boxarea">
                      <div class="icons" data-aos="fade-left" data-aos-duration="700">
                        <img src="{% static 'institutional/eitech/img/icons/service-icon8.svg' %}" alt="" aria-hidden="true">
                      </div>
                      <div class="space28"></div>
                      <div class="content-area">
                        <h3 data-aos="fade-left" data-aos-duration="800">Formulários e páginas operacionais</h3>
                        <div class="space16"></div>
                        <p data-aos="fade-left" data-aos-duration="900">Páginas focadas em conversão para campanhas, serviços específicos, alinhamento de necessidades, orçamentos, captação de leads e apresentação de ofertas.</p>
                        <div class="space28"></div>
                        <div class="btn-area" data-aos="fade-left" data-aos-duration="1000">
                          <a href="{% url 'institutional:contact' %}" class="vl-btn3"><span class="demo">Alinhar solução</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                  <div class="col-lg-5">
                    <div class="images-area">
                      <div class="img1 reveal">
                        <img src="{% static 'institutional/eitech/img/all-images/service/service-img1.png' %}" alt="Service Img1 | Smart Control Brasil">
                      </div>
                      <div class="arrow-circle text-end">
                        <a href="{% url 'institutional:contact' %}">
                          <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                          <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="service-boxarea">
                      <div class="icons" data-aos="fade-left" data-aos-duration="700">
                        <img src="{% static 'institutional/eitech/img/icons/service-icon9.svg' %}" alt="" aria-hidden="true">
                      </div>
                      <div class="space28"></div>
                      <div class="content-area">
                        <h3 data-aos="fade-left" data-aos-duration="800">Dados e conteúdo operacional</h3>
                        <div class="space16"></div>
                        <p data-aos="fade-left" data-aos-duration="900">Textos, estrutura de páginas, materiais institucionais e bases de conhecimento organizados para clareza, consulta, experiência do usuário e conversão.</p>
                        <div class="space28"></div>
                        <div class="btn-area" data-aos="fade-left" data-aos-duration="1000">
                          <a href="{% url 'institutional:contact' %}" class="vl-btn3"><span class="demo">Alinhar solução</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                  <div class="col-lg-5">
                    <div class="images-area">
                      <div class="img1 reveal">
                        <img src="{% static 'institutional/eitech/img/all-images/service/service-img1.png' %}" alt="Service Img1 | Smart Control Brasil">
                      </div>
                      <div class="arrow-circle text-end">
                        <a href="{% url 'institutional:contact' %}">
                          <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                          <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-contact1" role="tabpanel" aria-labelledby="pills-contact1-tab" tabindex="0">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="service-boxarea">
                      <div class="icons" data-aos="fade-left" data-aos-duration="700">
                        <img src="{% static 'institutional/eitech/img/icons/service-icon10.svg' %}" alt="" aria-hidden="true">
                      </div>
                      <div class="space28"></div>
                      <div class="content-area">
                        <h3 data-aos="fade-left" data-aos-duration="800">Automação aplicada a vendas</h3>
                        <div class="space16"></div>
                        <p data-aos="fade-left" data-aos-duration="900">Uso de inteligência artificial para acelerar ideias, textos, campanhas, roteiros, análises, organização de conteúdo e melhoria da comunicação.</p>
                        <div class="space28"></div>
                        <div class="btn-area" data-aos="fade-left" data-aos-duration="1000">
                          <a href="{% url 'institutional:contact' %}" class="vl-btn3"><span class="demo">Alinhar solução</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                  <div class="col-lg-5">
                    <div class="images-area">
                      <div class="img1 reveal">
                        <img src="{% static 'institutional/eitech/img/all-images/service/service-img1.png' %}" alt="Service Img1 | Smart Control Brasil">
                      </div>
                      <div class="arrow-circle text-end">
                        <a href="{% url 'institutional:contact' %}">
                          <img src="{% static 'institutional/eitech/img/elements/elements20.png' %}" alt="" aria-hidden="true" class="elements20 keyframe5">
                          <img src="{% static 'institutional/eitech/img/icons/arrow1.svg' %}" alt="" aria-hidden="true" class="arrow1">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space80"></div>
            <div class="tabs-btn-area">
              <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                    <span><img src="{% static 'institutional/eitech/img/icons/service-icon7.svg' %}" alt="" aria-hidden="true"></span>
                    Portais e interfaces digitais
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                    <span><img src="{% static 'institutional/eitech/img/icons/service-icon8.svg' %}" alt="" aria-hidden="true"></span>
                    Landing pages
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                    <span><img src="{% static 'institutional/eitech/img/icons/service-icon9.svg' %}" alt="" aria-hidden="true"></span>
                    Dados e conteúdo operacional
                  </button>
                </li>

                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact1-tab" data-bs-toggle="pill" data-bs-target="#pills-contact1" type="button" role="tab" aria-controls="pills-contact1" aria-selected="false">
                    <span><img src="{% static 'institutional/eitech/img/icons/service-icon10.svg' %}" alt="" aria-hidden="true"></span>
                    IA aplicada
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== SERVICE AREA ENDS =======-->


  <!--===== PRICING AREA STARTS =======-->
  <div class="pricing4-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="pricing-header text-center heading6 space-margin60">
            <h5><img src="{% static 'institutional/eitech/img/icons/sub-logo4.svg' %}" alt="" aria-hidden="true">Planos e propostas</h5>
            <div class="space18"></div>
            <h2 class="text-anime-style-3">Opções para estruturar sua presença digital</h2>
            <div class="space16"></div>
            <p>Valores referenciais. O investimento pode variar conforme escopo, quantidade de páginas, produção de conteúdo, integrações, campanhas, anúncios e nível de acompanhamento.</p>
          </div>
        </div>
      </div>
      <div class="space100"></div>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="flip-right" data-aos-duration="800">
          <div class="pricing-single-boxarea">
            <div class="price"><h2>R$ 497</h2><div class="space14"></div><p>Projeto inicial</p><img src="{% static 'institutional/eitech/img/elements/elements43.png' %}" alt="" aria-hidden="true"></div>
            <p>Ideal para empresas que precisam de uma presença digital inicial com página institucional simples e bem organizada.</p>
            <div class="space16"></div>
            <h3>Site Essencial</h3>
            <ul>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Estrutura de página institucional</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Textos base organizados</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Botão de WhatsApp/contato</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Layout responsivo</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Configuração básica de dados e páginas</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Publicação assistida</li>
            </ul>
            <div class="space32"></div>
            <div class="btn-area1"><a href="{% url 'institutional:contact' %}" class="vl-btn5"><span class="demo">Solicitar solução</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="flip-left" data-aos-duration="1000">
          <div class="space100 d-lg-none d-md-none d-block"></div>
          <div class="pricing-single-boxarea box2">
            <div class="price"><h2>R$ 997</h2><div class="space14"></div><p>Projeto completo</p><img src="{% static 'institutional/eitech/img/elements/elements43.png' %}" alt="" aria-hidden="true"></div>
            <p>Para empresas que precisam apresentar serviços, diferenciais, autoridade e canais de contato com mais força comercial.</p>
            <div class="space16"></div>
            <h3>Site Profissional</h3>
            <ul>
              <li><img src="{% static 'institutional/eitech/img/icons/check7.svg' %}" alt="" aria-hidden="true">Até 5 páginas institucionais</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check7.svg' %}" alt="" aria-hidden="true">Estrutura de serviços</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check7.svg' %}" alt="" aria-hidden="true">Textos otimizados</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check7.svg' %}" alt="" aria-hidden="true">Formulário de contato</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check7.svg' %}" alt="" aria-hidden="true">Dados básicos por página</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check7.svg' %}" alt="" aria-hidden="true">Integração com WhatsApp</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check7.svg' %}" alt="" aria-hidden="true">Ajustes de conteúdo inicial</li>
            </ul>
            <div class="space32"></div>
            <div class="btn-area1"><a href="{% url 'institutional:contact' %}" class="vl-btn5"><span class="demo">Alinhar solução</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="flip-right" data-aos-duration="1200">
          <div class="space100 d-lg-none d-md-block"></div>
          <div class="pricing-single-boxarea">
            <div class="price"><h2>R$ 1.997</h2><div class="space14"></div><p>Estratégia 360</p><img src="{% static 'institutional/eitech/img/elements/elements43.png' %}" alt="" aria-hidden="true"></div>
            <p>Para empresas que precisam de site, conteúdo, páginas estratégicas e apoio na comunicação digital inicial.</p>
            <div class="space16"></div>
            <h3>Presença Digital 360</h3>
            <ul>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Site institucional completo</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Landing page de serviço</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Conteúdo para páginas principais</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Estrutura de funil simples</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Organização inicial de dados</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Integração com canais de contato</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Apoio com roteiro de conteúdo</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Orientação para anúncios ou campanhas</li>
            </ul>
            <div class="space32"></div>
            <div class="btn-area1"><a href="{% url 'institutional:contact' %}" class="vl-btn5"><span class="demo">Falar com especialista</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="flip-right" data-aos-duration="800">
          <div class="space30"></div>
          <div class="pricing-single-boxarea">
            <div class="price"><h2>A partir de R$ 797/mês</h2><div class="space14"></div><p>Acompanhamento</p><img src="{% static 'institutional/eitech/img/elements/elements43.png' %}" alt="" aria-hidden="true"></div>
            <p>Acompanhamento mensal para conteúdo, ajustes, páginas, campanhas e evolução contínua da presença digital.</p>
            <div class="space16"></div>
            <h3>Marketing mensal</h3>
            <ul>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Planejamento mensal</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Ajustes no site</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Conteúdo e ideias de campanhas</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Apoio com Automação aplicada a vendas</li>
              <li><img src="{% static 'institutional/eitech/img/icons/check6.svg' %}" alt="" aria-hidden="true">Relatórios simples de evolução</li>
            </ul>
            <div class="space32"></div>
            <div class="btn-area1"><a href="{% url 'institutional:contact' %}" class="vl-btn5"><span class="demo">Alinhar evolução mensal</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== PRICING AREA ENDS =======-->

  <!--===== FAQ AREA STARTS =======-->
  <div class="service-sidebar-area sp1 scb-service-sidebar-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="service2-widget-sidebar scb-service-widget-reset">
            <h3>Perguntas frequentes</h3>
            <div class="space20"></div>
            <div class="faq-widget-area">
              <div class="accordion" id="accordionExample">
                <div class="space24"></div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Minha empresa precisa de um site mesmo usando redes sociais?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Sim. Redes sociais ajudam na divulgação, mas o site é o território próprio da empresa. Ele organiza serviços, autoridade, contatos, páginas específicas e melhora a presença profissional.</p>
                    </div>
                  </div>
                </div>
                <div class="space24"></div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Vocês criam apenas o site ou também ajudam no conteúdo?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Ajudamos na estrutura, textos, páginas, argumentos, organização dos serviços e conteúdo necessário para comunicar melhor a proposta da empresa.</p>
                    </div>
                  </div>
                </div>
                <div class="space24"></div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Dá para integrar o site com WhatsApp e formulários?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Sim. Podemos estruturar chamadas para ação, formulários, botões de WhatsApp, páginas de captação e fluxos simples de contato.</p>
                    </div>
                  </div>
                </div>
                <div class="space24"></div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Marketing digital é só anúncio pago?
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Não. Anúncio é apenas uma parte. Antes disso, a empresa precisa de posicionamento, páginas claras, conteúdo, oferta, canais de contato e acompanhamento.</p>
                    </div>
                  </div>
                </div>
                <div class="space24"></div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      A IA pode ajudar no marketing?
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Sim. A IA pode apoiar criação de ideias, textos, roteiros, organização de conteúdo, análise de oportunidades, relatórios e automação de tarefas repetitivas.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space32"></div>
            <p>Fale com a Smart Control Brasil e entenda como transformar sua presença digital em um canal mais profissional, claro e estratégico.</p>
            <div class="space24"></div>
            <div class="btn-area1">
              <a href="{% url 'institutional:contact' %}" class="vl-btn1">Alinhar solução <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== FAQ AREA ENDS =======-->

  <!--===== SERVICE AREA STARTS =======-->
  <div class="service1-section-area sp2 scb-service-section-service-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-auto">
          <div class="heading2 text-center space-margin60">
            <h2>Serviços relacionados</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="" aria-hidden="true">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:parceiro_xyron_robotics' %}" aria-label="Clique para obter mais detalhes sobre este serviço técnico de automação"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:parceiro_xyron_robotics' %}">Sistemas Web, Dashboards e Smart360</a>
            <div class="space16"></div>
            <p>Sistemas em Django/Python, indicadores e evolução modular para organizar processos, dados e rotinas operacionais.</p>
            <div class="space24"></div>
            <h5>01</h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon6.svg' %}" alt="" aria-hidden="true">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:services' %}" aria-label="Clique para obter mais detalhes sobre este serviço técnico de automação"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:services' %}">Inteligência Artificial Aplicada</a>
            <div class="space16"></div>
            <p>IA para conteúdo, dados, atendimento, relatórios, análise de informações e apoio à tomada de decisão.</p>
            <div class="space24"></div>
            <h5>02</h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="" aria-hidden="true">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:services' %}" aria-label="Clique para obter mais detalhes sobre este serviço técnico de automação"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:services' %}">Engenharia de solução tecnológica</a>
            <div class="space16"></div>
            <p>Mapeamento de processos, dados, gargalos e oportunidades reais de automação e IA aplicada.</p>
            <div class="space24"></div>
            <h5>03</h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-duration="1100">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon1.svg' %}" alt="" aria-hidden="true">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}" aria-label="Saiba mais sobre o serviço">
                <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Produtos tecnológicos e operação digital</a>
            <div class="space16"></div>
            <p>Proteção prática para acessos, dados, redes, backups, dispositivos e rotinas digitais da empresa.</p>
            <div class="space24"></div>
            <h5>04</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== SERVICE AREA ENDS =======-->
{% endblock %}