{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block content %}
<!--===== HERO AREA STARTS =======-->
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
    <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
    <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
    <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 m-auto">
          <div class="inner-header text-center heading1">
            <h1>Soluções para empresas que precisam de mais controle operacional</h1>
            <div class="space18"></div>
            <p>Integramos engenharia, manutenção, automação, sistemas web, inteligência artificial, segurança digital e presença online para tornar processos mais organizados, seguros e eficientes.</p>
            <div class="space28"></div>
            <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> <span>Soluções</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== HERO AREA ENDS =======-->

  <!--===== SERVICE AREA STARTS =======-->
  <div class="service1-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon3.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_automacao_industrial_clps' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_automacao_industrial_clps' %}">Automação Industrial e CLPs</a>
            <div class="space16"></div>
            <p>Projetos, melhorias e suporte para máquinas, linhas produtivas, painéis, sensores, atuadores e integração de CLPs com sistemas de gestão e dados operacionais.</p>
            <div class="space24"></div>
            <h5>01</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_robotica_integracao' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_robotica_integracao' %}">Robótica e Integração de Sistemas</a>
            <div class="space16"></div>
            <p>Conectamos robôs, equipamentos, sistemas e processos para criar fluxos mais produtivos, rastreáveis e preparados para tomada de decisão em tempo real.</p>
            <div class="space24"></div>
            <h5>02</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon4.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_manutencao_tpm_confiabilidade' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_manutencao_tpm_confiabilidade' %}">Manutenção, TPM e Confiabilidade</a>
            <div class="space16"></div>
            <p>Estruturamos rotinas de manutenção, planos preventivos, análise de falhas, indicadores e melhoria contínua para aumentar disponibilidade e reduzir paradas inesperadas.</p>
            <div class="space24"></div>
            <h5>03</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1100">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:smart360' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:smart360' %}">Sistemas Web, Dashboards e Smart360</a>
            <div class="space16"></div>
            <p>Desenvolvemos sistemas em Django/Python, dashboards e plataformas de gestão para substituir planilhas, centralizar informações e acompanhar a operação com clareza.</p>
            <div class="space24"></div>
            <h5>04</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon6.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_inteligencia_artificial' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_inteligencia_artificial' %}">Inteligência Artificial Aplicada</a>
            <div class="space16"></div>
            <p>Aplicamos IA de forma prática para atendimento, análise de dados, automação de tarefas, geração de relatórios e apoio à decisão, sempre com foco em resultado real.</p>
            <div class="space24"></div>
            <h5>05</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1300">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon1.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_details' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_details' %}">Cybersecurity para Empresas</a>
            <div class="space16"></div>
            <p>Avaliamos acessos, dados, redes, backups, dispositivos e rotinas digitais para reduzir vulnerabilidades e fortalecer a continuidade operacional da empresa.</p>
            <div class="space24"></div>
            <h5>06</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon3.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_marketing_digital' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_marketing_digital' %}">Marketing Digital, Sites e Conteúdo</a>
            <div class="space16"></div>
            <p>Criamos sites, páginas de venda, conteúdos, vídeos e estratégias digitais para fortalecer autoridade, melhorar apresentação comercial e gerar novas oportunidades.</p>
            <div class="space24"></div>
            <h5>07</h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="900">
          <div class="service1-boxarea">
            <div class="icons">
              <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
            </div>
            <div class="arrow">
              <a href="{% url 'institutional:service_diagnostico_ia_dados_automacao' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="space24"></div>
            <a href="{% url 'institutional:service_diagnostico_ia_dados_automacao' %}">Diagnóstico de IA, Dados e Automação</a>
            <div class="space16"></div>
            <p>Mapeamos processos, dados, gargalos e oportunidades para identificar onde automação, sistemas, dashboards e IA podem gerar impacto de verdade.</p>
            <div class="space24"></div>
            <h5>08</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== SERVICE AREA ENDS =======-->

  <!--===== ABOUT AREA STARTS =======-->
  <div class="about6-section-area-widget sp1" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="about6-header heading2 bg-heading">
            <h5><span><img src="{% static 'institutional/eitech/img/icons/sub-logo1.svg' %}" alt=""></span>Missão e visão</h5>
            <div class="space18"></div>
            <h2 class="text-anime-style-3">Nossa missão é aplicar engenharia e tecnologia para tornar operações mais organizadas, seguras e eficientes.</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">Nossa visão é construir um ecossistema de soluções que conecte manutenção, automação, dados, segurança digital, inteligência artificial e crescimento empresarial em uma jornada prática e evolutiva.</p>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1000">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon2.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:service_details' %}">Engenharia aplicada à operação</a>
                <div class="space16"></div>
                <p>Levamos automação, integração e melhoria técnica para alinhar máquinas, processos, pessoas e sistemas ao dia a dia real da empresa.</p>
              </div>
            </div>
            <div class="space24"></div>
            <div class="about-boxarea" data-aos="fade-left" data-aos-duration="1100">
              <div class="icons">
                <img src="{% static 'institutional/eitech/img/icons/service-icon5.svg' %}" alt="">
              </div>
              <div class="content-area">
                <a href="{% url 'institutional:smart360' %}">Sistemas, dashboards e Smart360</a>
                <div class="space16"></div>
                <p>Criamos software, indicadores e visão gerencial para apoiar decisões, organizar rotinas e permitir a evolução contínua da operação.</p>
              </div>
            </div>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
              <a href="{% url 'institutional:contact' %}" class="vl-btn2">Conhecer soluções <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="images-area">
            <img src="{% static 'institutional/eitech/img/elements/elements27.png' %}" alt="" class="elements27">
            <div class="img1 image-anime reveal">
              <img src="{% static 'institutional/eitech/img/all-images/about/about-img13.png' %}" alt="">
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img14.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="img1 image-anime reveal">
                  <div class="space30"></div>
                  <img src="{% static 'institutional/eitech/img/all-images/about/about-img15.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== ABOUT AREA ENDS =======-->
{% endblock %}