{% extends "caneca_de_garagem/base.html" %}
{% load static %}

{% block title %}Blog da Caneca{% endblock %}
{% block meta_description %}Ideias, bastidores e estratégias para presentes personalizados, brindes criativos e produção sob demanda.{% endblock %}

{% block body_class %}header-fixed{% endblock %}
{% block page_theme_class %}pt-40{% endblock %}

{% block content %}

<div class="flat-title-page">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-12">
                <h1 class="heading text-center">Blog da Caneca</h1>
                <p class="text-center wow fadeInUp mb-24" data-wow-delay="0.05s">
                    Ideias, bastidores e estratégias para presentes personalizados, brindes criativos e produção sob demanda.
                </p>
                <ul class="breadcrumbs flex justify-center">
                    <li class="icon-keyboard_arrow_right">
                        <a href="{% url 'caneca_de_garagem:home' %}">Início</a>
                    </li>
                    <li>
                        <a href="{% url 'caneca_de_garagem:blog-list' %}">Blog da Caneca</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tf-section-5 tf-grid-blog">
    <div class="themesflat-container">
        <div class="row flex flex-wrap">
            <div class="col-md-4">
                <div class="side-bar">
                    <div class="widget-search">
                        <form action="{% url 'caneca_de_garagem:product_list' %}" method="get" role="search"
                            class="search-form relative">
                            <input type="search" id="blog_search_sidebar_list" class="search-field style-1"
                                placeholder="Buscar…" value="" name="q" title="Buscar por" required="">
                            <button class="search search-submit" type="submit" title="Buscar">
                                <i class="icon-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="widget widget-categories">
                        <h5 class="title-widget">Categorias</h5>
                        <ul>
                            {% for cat_name, cat_count in blog_sidebar_categories %}
                            <li>
                                <div class="cate-item"><a href="#">{{ cat_name }}</a></div>
                                <div class="number">{{ cat_count }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget widget-related-posts">
                        <h5 class="title-widget">Posts relacionados</h5>
                        <div class="related-posts-item main">
                            <div class="card-media">
                                <img src="{% static blog_sidebar_featured.list_image_asset %}"
                                    alt="{{ blog_sidebar_featured.title }}">
                            </div>
                            <div class="meta-info flex">
                                <div class="item art active">{{ blog_sidebar_featured.category }}</div>
                                <div class="item date">{{ blog_sidebar_featured.date_display }}</div>
                            </div>
                            <h5><a href="{% url 'caneca_de_garagem:blog-detail' blog_sidebar_featured.slug %}">{{ blog_sidebar_featured.title }}</a></h5>
                        </div>
                        {% for p in blog_sidebar_small_posts %}
                        <div class="related-posts-item">
                            <div class="card-media">
                                <img src="{% static p.list_image_asset %}" alt="{{ p.title }}">
                            </div>
                            <div class="card-content">
                                <h5><a href="{% url 'caneca_de_garagem:blog-detail' p.slug %}">{{ p.title }}</a></h5>
                                <div class="item date">{{ p.date_display }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="widget widget-tag ">
                        <h5 class="title-widget">Tags populares</h5>
                        <ul class="flex flex-wrap">
                            {% for t in blog_sidebar_tags %}
                            <li><a href="#" class="box-widget-tag">{{ t }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="wrap-inner row">
                    {% for row in blog_grid_cards %}
                    {% with post=row.post %}
                    <div class="col-md-6 col-12">
                        <article class="tf-card-article">
                            <div class="card-media">
                                <a href="{% url 'caneca_de_garagem:blog-detail' post.slug %}">
                                    <img src="{% static row.card_image %}" alt="{{ post.title }}">
                                </a>
                            </div>
                            <div class="meta-info flex">
                                <div class="item art active">{{ post.category }}</div>
                                <div class="item date">{{ post.date_display }}</div>
                            </div>
                            <div class="card-title">
                                <h5><a href="{% url 'caneca_de_garagem:blog-detail' post.slug %}">{{ post.title }}</a></h5>
                            </div>
                            <div class="card-bottom flex items-center justify-between">
                                <div class="author flex items-center justify-between">
                                    <div class="avatar">
                                        <img src="{% static row.avatar_asset %}" alt="{{ post.author }}">
                                    </div>
                                    <div class="info">
                                        <span>Publicado por</span>
                                        <h6><a href="#">{{ post.author }}</a></h6>
                                    </div>
                                </div>
                                <a class="link"
                                    href="{% url 'caneca_de_garagem:blog-detail' post.slug %}"><i
                                        class="icon-arrow-up-right2"></i></a>
                            </div>
                        </article>
                    </div>
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
