{% extends "admin_shell/base.html" %}

{% block shell_content %}
<section class="module-layout preventive-calendar-layout">
    <div class="content-grid">
        <div class="column-span-12">
            {% include "admin_shell/components/widget_container.html" with title=calendar_month subtitle="Calendario operacional com volume, criticidade e situacao das preventivas programadas." content_template="admin_shell/components/preventive_calendar_widget.html" %}
        </div>
    </div>
</section>
{% endblock %}
