{% extends "admin_shell/base.html" %}

{% block shell_content %}
<div class="form-page">
</div>
    <div class="form-card part-form-card">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-grid part-form-grid" style="align-items:start;">
                <div class="form-field">
                    <label class="form-label">{{ form.code.label }}</label>
                    {{ form.code }}
                </div>
                <div class="form-field">
                    <label class="form-label">{{ form.manufacturer.label }}</label>
                    {{ form.manufacturer }}
                </div>

                <div class="form-field full">
                    <label class="form-label">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>

                <div class="form-field full">
                    <label class="form-label">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">Salvar peça</button>
                <a class="btn-secondary" href="{% url 'admin-shell:smart-system-parts' %}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
