{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Automação industrial conectada à manutenção e à gestão | Smart Control Brasil{% endblock %}
{% block meta_description %}Automação industrial gera mais valor quando os dados de máquina também apoiam manutenção, engenharia e gestão técnica.{% endblock %}

{% block content %}
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <h1>Automação industrial conectada à manutenção e à gestão</h1>
          <div class="space20"></div>
          <p>Categoria: Automação industrial • Autor: Smart Control Brasil • Artigo técnico</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sp2">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="space40"></div>
        <p>Automação industrial gera mais valor quando os dados de máquina também apoiam manutenção, engenharia e gestão técnica.</p>
        <div class="space20"></div>
        <p>Alarmes, paradas, produção, energia e intervenções podem ser organizados para dar contexto às decisões e reduzir retrabalho entre chão de fábrica e áreas de apoio.</p>
        <div class="space24"></div>
        <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico técnico <i class="fa-solid fa-arrow-right"></i></a>
        <div class="space60"></div>
        <h4>Posts relacionados</h4>
        <ul>
          <li><a href="{% url 'institutional:blog_manutencao_tpm_confiabilidade_sistemas_automatizados' %}">Manutenção, TPM e confiabilidade em sistemas automatizados</a></li>
          <li><a href="{% url 'institutional:blog_supervisorio_industrial_dados_tempo_real' %}">Supervisório industrial: por que sua operação precisa enxergar dados em tempo real?</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

