{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Automação conectada: máquinas, sensores e sistemas trabalhando juntos | Smart Control Brasil{% endblock %}
{% block meta_description %}Automação conectada gera mais valor quando máquinas, sensores, softwares e dashboards trabalham no mesmo fluxo de informação.{% endblock %}

{% block content %}
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <h1>Automação conectada: máquinas, sensores e sistemas trabalhando juntos</h1>
          <div class="space20"></div>
          <p>Categoria: Automação e IoT • Autor: Smart Control Brasil • Artigo técnico</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sp2">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="space40"></div>
        <p>Automação conectada gera mais valor quando máquinas, sensores, softwares e dashboards trabalham no mesmo fluxo de informação.</p>
        <div class="space20"></div>
        <p>Estados de máquina, produção, consumo, eventos, comandos e dados de operação podem alimentar sistemas digitais para reduzir retrabalho e acelerar decisões.</p>
        <div class="space24"></div>
        <a href="{% url 'institutional:contact' %}" class="vl-btn2">Alinhar automação conectada <i class="fa-solid fa-arrow-right"></i></a>
        <div class="space60"></div>
        <h4>Posts relacionados</h4>
        <ul>
          <li><a href="{% url 'institutional:blog_manutencao_tpm_confiabilidade_sistemas_automatizados' %}">Como integrar sensores, máquinas e sistemas em uma única plataforma</a></li>
          <li><a href="{% url 'institutional:blog_supervisorio_industrial_dados_tempo_real' %}">Como dashboards ajudam empresas a tomar decisões melhores</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

