{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}5 aplicações reais de robôs que já estão presentes no Brasil | Smart Control Brasil{% endblock %}
{% block meta_description %}Robôs aplicados já aparecem em educação, atendimento, demonstrações, laboratórios, comércio e ambientes operacionais que precisam unir interação, automação e dados.{% endblock %}

{% block content %}
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <h1>5 aplicações reais de robôs que já estão presentes no Brasil</h1>
          <div class="space20"></div>
          <p>Categoria: Robótica aplicada • Autor: Smart Control Brasil • Artigo técnico</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sp2">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="space40"></div>
        <p>Robôs aplicados já aparecem em educação, atendimento, demonstrações, laboratórios, comércio e ambientes operacionais que precisam unir interação, automação e dados.</p>
        <div class="space20"></div>
        <p>Com soluções como Xyron Robotics, empresas e instituições podem criar experiências de treinamento, recepção, apoio comercial, inovação e automação leve sem tratar robótica como algo distante.</p>
        <div class="space24"></div>
        <a href="{% url 'institutional:contact' %}" class="vl-btn2">Alinhar solução robótica <i class="fa-solid fa-arrow-right"></i></a>
        <div class="space60"></div>
        <h4>Posts relacionados</h4>
        <ul>
          <li><a href="{% url 'institutional:blog_dados_industriais_confiabilidade_reduzir_paradas' %}">Dados operacionais: o primeiro passo para uma empresa mais inteligente</a></li>
          <li><a href="{% url 'institutional:blog_retrofit_maquina_industrial' %}">Como a robótica aplicada transforma escolas, empresas e operações?</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

