{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block content %}
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <h1>Cybersecurity para pequenas e médias empresas</h1>
          <div class="space20"></div>
          <p>Categoria: Cybersecurity • Autor: Smart Control Brasil • Artigo técnico</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sp2">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="space40"></div>
        <p>Proteger acessos, senhas, backups, redes e dados não é assunto apenas de grandes empresas. Pequenos negócios também precisam reduzir riscos digitais com práticas simples e aplicáveis.</p>
        <div class="space20"></div>
        <p>Começamos com um diagnóstico, priorizamos ações de baixo custo e alto impacto (backup, senhas, acessos) e propomos controles operacionais que aumentam a segurança sem complicar a operação.</p>
        <div class="space24"></div>
        <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico <i class="fa-solid fa-arrow-right"></i></a>
        <div class="space60"></div>
        <h4>Posts relacionados</h4>
        <ul>
          <li><a href="{% url 'institutional:blog_smart360_operacao_inteligente' %}">Smart360: visão para uma operação mais inteligente</a></li>
          <li><a href="{% url 'institutional:blog_ia_pequenas_empresas' %}">Como a IA pode ajudar pequenas empresas na prática</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

