{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Como a robótica aplicada transforma escolas, empresas e operações? | Smart Control Brasil{% endblock %}
{% block meta_description %}Robótica aplicada conecta produto físico, software, sensores e experiência para criar novas formas de ensinar, atender, demonstrar e operar.{% endblock %}

{% block content %}
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <h1>Como a robótica aplicada transforma escolas, empresas e operações?</h1>
          <div class="space20"></div>
          <p>Categoria: Robótica e inovação • Autor: Smart Control Brasil • Artigo técnico</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sp2">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="space40"></div>
        <p>Robótica aplicada conecta produto físico, software, sensores e experiência para criar novas formas de ensinar, atender, demonstrar e operar.</p>
        <div class="space20"></div>
        <p>Soluções como Xyron Robotics ajudam a aproximar pessoas de robôs, sensores, interfaces e softwares, criando experiências práticas para treinamento, demonstração, inovação e automação leve.</p>
        <div class="space24"></div>
        <a href="{% url 'institutional:contact' %}" class="vl-btn2">Alinhar solução tecnológica <i class="fa-solid fa-arrow-right"></i></a>
        <div class="space60"></div>
        <h4>Posts relacionados</h4>
        <ul>
          <li><a href="{% url 'institutional:blog_organizar_sinais_dados_antes_automatizar' %}">O que é IoT e por que ela muda os negócios?</a></li>
          <li><a href="{% url 'institutional:blog_dados_industriais_confiabilidade_reduzir_paradas' %}">Dados operacionais: o primeiro passo para uma empresa mais inteligente</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

