{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Manutenção, TPM e confiabilidade em sistemas automatizados | Smart Control Brasil{% endblock %}
{% block meta_description %}TPM, análise de falhas e confiabilidade operacional dependem de registros consistentes, causa raiz bem tratada e integração entre manutenção e automação.{% endblock %}

{% block content %}
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <h1>Manutenção, TPM e confiabilidade em sistemas automatizados</h1>
          <div class="space20"></div>
          <p>Categoria: Manutenção técnica • Autor: Smart Control Brasil • Artigo técnico</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sp2">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="space40"></div>
        <p>TPM, análise de falhas e confiabilidade operacional dependem de registros consistentes, causa raiz bem tratada e integração entre manutenção e automação.</p>
        <div class="space20"></div>
        <p>Em sistemas automatizados, CLPs, IHMs, inversores e sensores também fazem parte da estratégia de disponibilidade. O histórico de alarmes, paradas e intervenções orienta melhorias mais precisas.</p>
        <div class="space24"></div>
        <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico técnico <i class="fa-solid fa-arrow-right"></i></a>
        <div class="space60"></div>
        <h4>Posts relacionados</h4>
        <ul>
          <li><a href="{% url 'institutional:blog_organizar_sinais_dados_antes_automatizar' %}">Por que organizar sinais e dados antes de automatizar?</a></li>
          <li><a href="{% url 'institutional:blog_automacao_industrial_conectada_manutencao_gestao' %}">Automação industrial conectada à manutenção e à gestão</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

