{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Tecnologia embarcada: quando o produto físico precisa conversar com software | Smart Control Brasil{% endblock %}
{% block meta_description %}Tecnologia embarcada une placas, controladores, sensores, firmware e software para criar produtos mais inteligentes, conectados e úteis.{% endblock %}

{% block content %}
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <h1>Tecnologia embarcada: quando o produto físico precisa conversar com software</h1>
          <div class="space20"></div>
          <p>Categoria: Tecnologia embarcada • Autor: Smart Control Brasil • Artigo técnico</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sp2">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="space40"></div>
        <p>Tecnologia embarcada une placas, controladores, sensores, firmware e software para criar produtos mais inteligentes, conectados e úteis.</p>
        <div class="space20"></div>
        <p>Quando um produto físico coleta dados, executa lógica local e se integra a dashboards ou aplicativos, ele deixa de ser apenas equipamento e vira solução tecnológica.</p>
        <div class="space24"></div>
        <a href="{% url 'institutional:contact' %}" class="vl-btn2">Alinhar produto tecnológico <i class="fa-solid fa-arrow-right"></i></a>
        <div class="space60"></div>
        <h4>Posts relacionados</h4>
        <ul>
          <li><a href="{% url 'institutional:blog_supervisorio_industrial_dados_tempo_real' %}">Como dashboards ajudam empresas a tomar decisões melhores</a></li>
          <li><a href="{% url 'institutional:blog_retrofit_maquina_industrial' %}">Como a robótica aplicada transforma escolas, empresas e operações?</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

