{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}O que é Internet das Coisas e por que ela muda os negócios? | Smart Control Brasil{% endblock %}
{% block meta_description %}IoT conecta sensores, equipamentos, dispositivos inteligentes e softwares para transformar eventos físicos em dados úteis para a empresa.{% endblock %}

{% block content %}
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <h1>O que é Internet das Coisas e por que ela muda os negócios?</h1>
          <div class="space20"></div>
          <p>Categoria: IoT e dados • Autor: Smart Control Brasil • Artigo técnico</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sp2">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="space40"></div>
        <p>IoT conecta sensores, equipamentos, dispositivos inteligentes e softwares para transformar eventos físicos em dados úteis para a empresa.</p>
        <div class="space20"></div>
        <p>Quando sensores, controladores e dashboards conversam entre si, a empresa acompanha consumo, presença, temperatura, status, uso, produção, atendimento e indicadores com muito mais clareza.</p>
        <div class="space24"></div>
        <a href="{% url 'institutional:contact' %}" class="vl-btn2">Alinhar solução de IoT <i class="fa-solid fa-arrow-right"></i></a>
        <div class="space60"></div>
        <h4>Posts relacionados</h4>
        <ul>
          <li><a href="{% url 'institutional:blog_retrofit_maquina_industrial' %}">Como a robótica aplicada transforma escolas, empresas e operações?</a></li>
          <li><a href="{% url 'institutional:blog_supervisorio_industrial_dados_tempo_real' %}">Como dashboards ajudam empresas a tomar decisões melhores</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

