{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Como dashboards ajudam empresas a tomar decisões melhores | Smart Control Brasil{% endblock %}
{% block meta_description %}Dashboards conectam softwares, sensores, sistemas e equipes para transformar dados dispersos em uma visão clara da operação.{% endblock %}

{% block content %}
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <h1>Como dashboards ajudam empresas a tomar decisões melhores</h1>
          <div class="space20"></div>
          <p>Categoria: Softwares e dashboards • Autor: Smart Control Brasil • Artigo técnico</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sp2">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="space40"></div>
        <p>Dashboards conectam softwares, sensores, sistemas e equipes para transformar dados dispersos em uma visão clara da operação.</p>
        <div class="space20"></div>
        <p>Quando indicadores aparecem em tempo real, fica mais fácil comparar resultados, priorizar ações, acompanhar vendas, serviços, equipamentos e decisões sem depender de planilhas soltas.</p>
        <div class="space24"></div>
        <a href="{% url 'institutional:contact' %}" class="vl-btn2">Alinhar dashboard <i class="fa-solid fa-arrow-right"></i></a>
        <div class="space60"></div>
        <h4>Posts relacionados</h4>
        <ul>
          <li><a href="{% url 'institutional:blog_organizar_sinais_dados_antes_automatizar' %}">O que é IoT e por que ela muda os negócios?</a></li>
          <li><a href="{% url 'institutional:blog_dados_industriais_confiabilidade_reduzir_paradas' %}">Dados operacionais: o primeiro passo para uma empresa mais inteligente</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

