{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Dados operacionais: o primeiro passo para uma empresa mais inteligente | Smart Control Brasil{% endblock %}
{% block meta_description %}Empresas mais inteligentes começam organizando dados de operação, vendas, serviços, equipamentos, sensores e atendimento em uma base acessível.{% endblock %}

{% block content %}
  <div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <h1>Dados operacionais: o primeiro passo para uma empresa mais inteligente</h1>
          <div class="space20"></div>
          <p>Categoria: Dados e tecnologia • Autor: Smart Control Brasil • Artigo técnico</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container sp2">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="space40"></div>
        <p>Empresas mais inteligentes começam organizando dados de operação, vendas, serviços, equipamentos, sensores e atendimento em uma base acessível.</p>
        <div class="space20"></div>
        <p>Com dados bem estruturados, dashboards e integrações, fica mais fácil enxergar padrões, priorizar oportunidades, conectar produto físico e sistema digital e evoluir com automação.</p>
        <div class="space24"></div>
        <a href="{% url 'institutional:contact' %}" class="vl-btn2">Alinhar dados e dashboards <i class="fa-solid fa-arrow-right"></i></a>
        <div class="space60"></div>
        <h4>Posts relacionados</h4>
        <ul>
          <li><a href="{% url 'institutional:blog_supervisorio_industrial_dados_tempo_real' %}">Como dashboards ajudam empresas a tomar decisões melhores</a></li>
          <li><a href="{% url 'institutional:blog_organizar_sinais_dados_antes_automatizar' %}">O que é IoT e por que ela muda os negócios?</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

