{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'institutional/eitech/css/scb-projects.css' %}">
{% endblock %}

{% block title %}Gerenciamento de energia e utilidades | Smart Control Brasil{% endblock %}
{% block meta_description %}Coleta e visualização de consumo de energia e utilidades para eficiência energética, controle de custos e melhoria contínua.{% endblock %}

{% block content %}
<div class="inner-page-hero-area scb-project-hero">
  <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" aria-hidden="true" class="elements5">
  <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" aria-hidden="true" class="elements4">
  <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" aria-hidden="true" class="elements1 keyframe5">
  <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" aria-hidden="true" class="elements16">
  <div class="container">
    <div class="row"><div class="col-lg-8 m-auto"><div class="inner-header text-center heading1"><h1>Gerenciamento de energia e utilidades</h1><div class="space28"></div><a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> Projeto <i class="fa-solid fa-angle-right"></i> <span>Gerenciamento de energia e utilidades</span></a></div></div></div>
  </div>
</div>

<div class="case-single-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="case-sider-widget-area scb-project-widget-reset">
          <div class="img1 image-anime reveal"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img12.png' %}" alt="Case Img12 | Smart Control Brasil"></div>
          <div class="space32"></div>
          <h3>Escopo da frente</h3>
          <div class="space20"></div>
          <p>O trabalho conecta dados elétricos e de utilidades à rotina técnica, permitindo acompanhar demanda, consumo, perdas e oportunidades de melhoria.</p>
          <p><strong>Cliente:</strong> Smart Control Brasil</p>
          <p><strong>Status:</strong> Frente de atuação em automação industrial</p>
          <p><strong>Foco:</strong> Medição, histórico, rateio, indicadores e eficiência energética</p>
          <div class="space20"></div>
          <p>Sem medição confiável, a planta tem dificuldade para identificar desperdícios, comparar setores e justificar ações de eficiência energética.</p>
          <div class="space20"></div>
          <p>A frente organiza medidores, coleta de dados, indicadores de consumo, histórico e visualização de energia e utilidades em contexto operacional.</p>
          <div class="space50"></div>
          <h3>Escopo da frente</h3>
          <div class="space20"></div>
          <p>Inclui KPIs, dashboards, indicadores de manutenção, indicadores comerciais e gestão visual para apoiar decisões com objetividade.</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Medição de energia</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Indicadores de consumo</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Histórico e tendências</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Rateio por setor</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Utilidades industriais</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Eficiência energética</li></ul></div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico <i class="fa-solid fa-arrow-right"></i></a>
            <a href="{% url 'institutional:services' %}" class="vl-btn2">Conhecer soluções <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-inner-area sp2 scb-project-section-bg">
  <div class="container">
    <div class="row"><div class="col-lg-5 m-auto"><div class="heading2 space-margin60 text-center"><h2>Projetos relacionados</h2></div></div></div>
    <div class="row">
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img1.png' %}" alt="Case Img1 | Smart Control Brasil"></div><div class="content-area"><p>Painéis elétricos e baixa tensão</p><div class="space16"></div><a href="{% url 'institutional:paineis_eletricos_baixa_tensao' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:paineis_eletricos_baixa_tensao' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img2.png' %}" alt="Case Img2 | Smart Control Brasil"></div><div class="content-area"><p>Integração de chão de fábrica e dados industriais</p><div class="space16"></div><a href="{% url 'institutional:integracao_chao_fabrica_dados_industriais' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:integracao_chao_fabrica_dados_industriais' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
    </div>
  </div>
</div>
{% endblock %}
