{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Diagnóstico industrial e engenharia da solução | Smart Control Brasil{% endblock %}
{% block meta_description %}Diagnóstico técnico para mapear falhas, sinais, comandos, painéis, riscos e oportunidades de automação industrial.{% endblock %}

{% block content %}
<div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
  <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
  <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
  <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="inner-header text-center heading1">
          <h1>Diagnóstico industrial e engenharia da solução</h1>
          <div class="space28"></div>
          <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> Projeto <i class="fa-solid fa-angle-right"></i> <span>Diagnóstico industrial e engenharia da solução</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-single-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="case-sider-widget-area" style="padding: 0 !important;">
          <div class="img1 image-anime reveal">
            <img src="{% static 'institutional/eitech/img/all-images/case/case-img12.png' %}" alt="">
          </div>
          <div class="space32"></div>
          <h3>Etapas do diagnóstico</h3>
          <div class="space20"></div>
          <p>A engenharia da solução nasce de levantamento em campo, priorização por risco e impacto, definição de escopo e recomendações compatíveis com a realidade da planta.</p>
          <p><strong>Cliente:</strong> Smart Control Brasil</p>
          <p><strong>Status:</strong> Frente de atuação em automação industrial</p>
          <p><strong>Foco:</strong> Falhas, comandos, painéis, acionamentos, dados e escopo técnico</p>
          <div class="space20"></div>
          <p>O diagnóstico industrial identifica a causa técnica dos problemas antes de propor automação, retrofit ou melhorias em máquinas e processos.</p>
          <div class="space20"></div>
          <p>A análise considera sinais de campo, lógica de controle, painéis elétricos, acionamentos, segurança de máquinas, histórico de falhas e necessidades da manutenção.</p>
          <div class="space50"></div>
          <h3>Etapas do diagnóstico</h3>
          <div class="space20"></div>
          <p>Mapeamos processos atuais, avaliamos qualidade de dados, identificamos gargalos e classificamos oportunidades por impacto e viabilidade para orientar decisões com menor risco.</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <ul class="list">
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Levantamento técnico em campo</li>
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Mapeamento de falhas recorrentes</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6">
              <ul class="list">
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Análise de comandos e painéis</li>
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Avaliação de CLPs e IHMs</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6">
              <ul class="list">
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Priorização por criticidade</li>
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Plano técnico de implantação</li>
              </ul>
            </div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico <i class="fa-solid fa-arrow-right"></i></a>
            <a href="{% url 'institutional:services' %}" class="vl-btn2">Conhecer soluções <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-inner-area sp2" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 m-auto">
        <div class="heading2 space-margin60 text-center">
          <h2>Projetos relacionados</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="case-slider-boxarea">
          <div class="img1 image-anime"><img src="{% static 'institutional/eitech/img/all-images/case/case-img1.png' %}" alt=""></div>
          <div class="content-area">
            <p>Supervisão industrial e dados operacionais</p>
            <div class="space16"></div>
            <a href="{% url 'institutional:supervisao_dados_industriais' %}">Ver projetos</a>
            <div class="arrow"><a href="{% url 'institutional:supervisao_dados_industriais' %}"><i class="fa-solid fa-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="case-slider-boxarea">
          <div class="img1 image-anime"><img src="{% static 'institutional/eitech/img/all-images/case/case-img2.png' %}" alt=""></div>
          <div class="content-area">
            <p>Robótica industrial e células automatizadas</p>
            <div class="space16"></div>
            <a href="{% url 'institutional:robotica_celulas_automatizadas' %}">Falar com especialista</a>
            <div class="arrow"><a href="{% url 'institutional:robotica_celulas_automatizadas' %}"><i class="fa-solid fa-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
