{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Painéis elétricos e baixa tensão | Smart Control Brasil{% endblock %}
{% block meta_description %}Adequação, organização e modernização de painéis elétricos industriais, comandos, proteção, baixa tensão e manutenibilidade.{% endblock %}

{% block content %}
<div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
  <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
  <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
  <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">
  <div class="container">
    <div class="row"><div class="col-lg-8 m-auto"><div class="inner-header text-center heading1"><h1>Painéis elétricos e baixa tensão</h1><div class="space28"></div><a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> Projeto <i class="fa-solid fa-angle-right"></i> <span>Painéis elétricos e baixa tensão</span></a></div></div></div>
  </div>
</div>

<div class="case-single-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="case-sider-widget-area" style="padding: 0 !important;">
          <div class="img1 image-anime reveal"><img src="{% static 'institutional/eitech/img/all-images/case/case-img12.png' %}" alt=""></div>
          <div class="space32"></div>
          <h3>Componentes da frente</h3>
          <div class="space20"></div>
          <p>Cada intervenção considera normas aplicáveis, criticidade da máquina, manutenibilidade, identificação de circuitos, proteção elétrica e espaço para expansão.</p>
          <p><strong>Cliente:</strong> Smart Control Brasil</p>
          <p><strong>Status:</strong> Frente de atuação em automação industrial</p>
          <p><strong>Foco:</strong> Baixa tensão, comandos, proteção, organização e manutenção de painéis</p>
          <div class="space20"></div>
          <p>Painéis antigos ou desorganizados aumentam o tempo de diagnóstico, dificultam manutenção e podem comprometer segurança e continuidade operacional.</p>
          <div class="space20"></div>
          <p>A atuação envolve organização, adequação, modernização, documentação e integração de comandos elétricos, proteções, partidas de motores e automação.</p>
          <div class="space50"></div>
          <h3>Componentes da frente</h3>
          <div class="space20"></div>
          <p>Inclui OS preventiva/corretiva, ativos e equipamentos, histórico técnico, checklists, status de execução, responsáveis e trilha de acompanhamento.</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Painéis de baixa tensão</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Comandos elétricos</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Proteção de circuitos</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Partidas de motores</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Identificação técnica</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Manutenibilidade</li></ul></div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico <i class="fa-solid fa-arrow-right"></i></a>
            <a href="{% url 'institutional:projects' %}" class="vl-btn2">Ver projetos <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-inner-area sp2" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row"><div class="col-lg-5 m-auto"><div class="heading2 space-margin60 text-center"><h2>Projetos relacionados</h2></div></div></div>
    <div class="row">
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img src="{% static 'institutional/eitech/img/all-images/case/case-img1.png' %}" alt=""></div><div class="content-area"><p>Manutenção, retrofit e confiabilidade</p><div class="space16"></div><a href="{% url 'institutional:manutencao_retrofit_confiabilidade' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:manutencao_retrofit_confiabilidade' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img src="{% static 'institutional/eitech/img/all-images/case/case-img2.png' %}" alt=""></div><div class="content-area"><p>Gerenciamento de energia e utilidades</p><div class="space16"></div><a href="{% url 'institutional:gerenciamento_energia_utilidades' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:gerenciamento_energia_utilidades' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
    </div>
  </div>
</div>
{% endblock %}
