{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block content %}
<div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
  <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
  <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
  <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">
  <div class="container">
    <div class="row"><div class="col-lg-8 m-auto"><div class="inner-header text-center heading1"><h1>Gestão de Ordens de Serviço e Ativos</h1><div class="space28"></div><a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> Projeto <i class="fa-solid fa-angle-right"></i> <span>Gestão de Ordens de Serviço e Ativos</span></a></div></div></div>
  </div>
</div>

<div class="case-single-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="case-sider-widget-area" style="padding: 0 !important;">
          <div class="img1 image-anime reveal"><img src="{% static 'institutional/eitech/img/all-images/case/case-img12.png' %}" alt=""></div>
          <div class="space32"></div>
          <h3>Gestão de Ordens de Serviço e Ativos</h3>
          <div class="space20"></div>
          <p><strong>Categoria:</strong> Manutenção e operação</p>
          <p><strong>Cliente:</strong> Projeto Smart Control Brasil</p>
          <p><strong>Status:</strong> Frente de atuação</p>
          <p><strong>Foco:</strong> Tecnologia aplicada, processos, dados e operação</p>
          <div class="space20"></div>
          <p>Organização de ordens de serviço, ativos, equipamentos, histórico de manutenção, checklists, responsáveis e acompanhamento operacional.</p>
          <div class="space20"></div>
          <p>O objetivo é dar rastreabilidade ponta a ponta às atividades técnicas, com registro padronizado e visibilidade de status para gestão e operação.</p>
          <div class="space50"></div>
          <h3>Componentes da frente</h3>
          <div class="space20"></div>
          <p>Inclui OS preventiva/corretiva, ativos e equipamentos, histórico técnico, checklists, status de execução, responsáveis e trilha de acompanhamento.</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Cadastro de ativos</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">OS preventiva e corretiva</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Checklists técnicos</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Acompanhamento por status</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Histórico por equipamento</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Rastreabilidade de execução</li></ul></div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico <i class="fa-solid fa-arrow-right"></i></a>
            <a href="{% url 'institutional:projects' %}" class="vl-btn2">Ver projetos <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-inner-area sp2" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row"><div class="col-lg-5 m-auto"><div class="heading2 space-margin60 text-center"><h2>Projetos relacionados</h2></div></div></div>
    <div class="row">
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img src="{% static 'institutional/eitech/img/all-images/case/case-img1.png' %}" alt=""></div><div class="content-area"><p>Manutenção e Confiabilidade</p><div class="space16"></div><a href="{% url 'institutional:project_manutencao_confiabilidade' %}">Conhecer soluções</a><div class="arrow"><a href="{% url 'institutional:project_manutencao_confiabilidade' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img src="{% static 'institutional/eitech/img/all-images/case/case-img2.png' %}" alt=""></div><div class="content-area"><p>Dashboards e Indicadores Operacionais</p><div class="space16"></div><a href="{% url 'institutional:project_dashboards_indicadores_operacionais' %}">Falar com especialista</a><div class="arrow"><a href="{% url 'institutional:project_dashboards_indicadores_operacionais' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
    </div>
  </div>
</div>
{% endblock %}
