{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Robótica industrial e células automatizadas | Smart Control Brasil{% endblock %}
{% block meta_description %}Integração de robótica industrial, células automatizadas, manipulação, paletização, posicionamento e sincronismo com equipamentos de linha.{% endblock %}

{% block content %}
<div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
  <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
  <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
  <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">
  <div class="container">
    <div class="row"><div class="col-lg-8 m-auto"><div class="inner-header text-center heading1"><h1>Robótica industrial e células automatizadas</h1><div class="space28"></div><a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> Projeto <i class="fa-solid fa-angle-right"></i> <span>Robótica industrial e células automatizadas</span></a></div></div></div>
  </div>
</div>

<div class="case-single-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="case-sider-widget-area" style="padding: 0 !important;">
          <div class="img1 image-anime reveal"><img src="{% static 'institutional/eitech/img/all-images/case/case-img12.png' %}" alt=""></div>
          <div class="space32"></div>
          <h3>Aplicações priorizadas</h3>
          <div class="space20"></div>
          <p>A viabilidade considera ciclo, carga, layout, risco, disponibilidade de máquina, manutenção e ganho operacional esperado.</p>
          <p><strong>Cliente:</strong> Smart Control Brasil</p>
          <p><strong>Status:</strong> Frente de atuação em automação industrial</p>
          <p><strong>Foco:</strong> Robôs industriais, células automatizadas, manipulação e sincronismo de linha</p>
          <div class="space20"></div>
          <p>Células automatizadas reduzem variabilidade em processos repetitivos, melhoram ergonomia e aumentam repetibilidade quando integradas com segurança e controle adequados.</p>
          <div class="space20"></div>
          <p>A frente envolve estudo de aplicação, integração com máquinas, comunicação com CLPs, dispositivos de segurança, sensores, atuadores e interface de operação.</p>
          <div class="space50"></div>
          <h3>Aplicações priorizadas</h3>
          <div class="space20"></div>
          <p>Integramos robôs industriais e células automatizadas com CLPs, sensores, atuadores, dispositivos de segurança e interfaces de operação para estabilizar ciclos produtivos.</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Robôs industriais</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Células automatizadas</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Manipulação de peças</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Paletização</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Sincronismo com linha</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Segurança de célula</li></ul></div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico <i class="fa-solid fa-arrow-right"></i></a>
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Falar com especialista <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-inner-area sp2" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row"><div class="col-lg-5 m-auto"><div class="heading2 space-margin60 text-center"><h2>Projetos relacionados</h2></div></div></div>
    <div class="row">
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img src="{% static 'institutional/eitech/img/all-images/case/case-img1.png' %}" alt=""></div><div class="content-area"><p>Diagnóstico industrial e engenharia da solução</p><div class="space16"></div><a href="{% url 'institutional:diagnostico_industrial_engenharia_solucao' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:diagnostico_industrial_engenharia_solucao' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img src="{% static 'institutional/eitech/img/all-images/case/case-img2.png' %}" alt=""></div><div class="content-area"><p>Supervisório, SCADA e dados industriais</p><div class="space16"></div><a href="{% url 'institutional:supervisorio_scada_dados_industriais' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:supervisorio_scada_dados_industriais' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
    </div>
  </div>
</div>
{% endblock %}
