{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'institutional/eitech/css/scb-projects.css' %}">
{% endblock %}

{% block title %}Integração de chão de fábrica e dados industriais | Smart Control Brasil{% endblock %}
{% block meta_description %}Integração de CLPs, IHMs, sensores, medidores, supervisórios e dados industriais para reduzir retrabalho e melhorar rastreabilidade.{% endblock %}

{% block content %}
<div class="inner-page-hero-area scb-project-hero">
  <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" aria-hidden="true" class="elements5">
  <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" aria-hidden="true" class="elements4">
  <img src="{% static 'institutional/eitech/img/elements/gemini-ia-02.webp' %}" alt="" aria-hidden="true" class="elements1 keyframe5">
  <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" aria-hidden="true" class="elements16">
  <div class="container">
    <div class="row"><div class="col-lg-8 m-auto"><div class="inner-header text-center heading1"><h1>Integração de chão de fábrica e dados industriais</h1><div class="space28"></div><a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> Projeto <i class="fa-solid fa-angle-right"></i> <span>Integração de chão de fábrica e dados industriais</span></a></div></div></div>
  </div>
</div>

<div class="case-single-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="case-sider-widget-area scb-project-widget-reset">
          <div class="img1 image-anime reveal"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img12.png' %}" alt="Case Img12 | Smart Control Brasil"></div>
          <div class="space32"></div>
          <h3>Aplicações de integração</h3>
          <div class="space20"></div>
          <p>O objetivo é reduzir retrabalho, melhorar rastreabilidade e permitir que operação, manutenção e engenharia usem a mesma informação técnica.</p>
          <p><strong>Cliente:</strong> Smart Control Brasil</p>
          <p><strong>Status:</strong> Frente de atuação em automação industrial</p>
          <p><strong>Foco:</strong> Chão de fábrica, CLPs, supervisórios, sensores, medidores e dados industriais</p>
          <div class="space20"></div>
          <p>Dados de produção, energia, manutenção e processo muitas vezes ficam desconectados, exigindo apontamentos manuais e dificultando análise de falhas.</p>
          <div class="space20"></div>
          <p>A frente integra sinais de máquinas, supervisórios, medidores e registros técnicos para criar uma base de dados industrial mais consistente.</p>
          <div class="space50"></div>
          <h3>Aplicações de integração</h3>
          <div class="space20"></div>
          <p>Atua em integração entre sistemas, APIs, importação de planilhas, organização de dados, automações e redução de retrabalho manual.</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">CLPs e IHMs</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Sensores e medidores</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Supervisórios</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Dados de produção</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Histórico técnico</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Rastreabilidade</li></ul></div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico <i class="fa-solid fa-arrow-right"></i></a>
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Falar com especialista <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-inner-area sp2 scb-project-section-bg">
  <div class="container">
    <div class="row"><div class="col-lg-5 m-auto"><div class="heading2 space-margin60 text-center"><h2>Projetos relacionados</h2></div></div></div>
    <div class="row">
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img1.png' %}" alt="Case Img1 | Smart Control Brasil"></div><div class="content-area"><p>Supervisório, SCADA e dados industriais</p><div class="space16"></div><a href="{% url 'institutional:supervisorio_scada_dados_industriais' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:supervisorio_scada_dados_industriais' %}" aria-label="Clique para obter mais detalhes sobre este serviço técnico de automação"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img2.png' %}" alt="Case Img2 | Smart Control Brasil"></div><div class="content-area"><p>Gerenciamento de energia e utilidades</p><div class="space16"></div><a href="{% url 'institutional:gerenciamento_energia_utilidades' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:gerenciamento_energia_utilidades' %}" aria-label="Clique para obter mais detalhes sobre este serviço técnico de automação"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
    </div>
  </div>
</div>
{% endblock %}
