{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'institutional/eitech/css/scb-projects.css' %}">
{% endblock %}

{% block title %}Supervisório, SCADA e dados industriais | Smart Control Brasil{% endblock %}
{% block meta_description %}Soluções de supervisório, SCADA, alarmes, tendências, histórico e dados industriais para operação e manutenção.{% endblock %}

{% block content %}
<div class="inner-page-hero-area scb-project-hero">
  <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" aria-hidden="true" class="elements5">
  <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" aria-hidden="true" class="elements4">
  <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" aria-hidden="true" class="elements1 keyframe5">
  <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" aria-hidden="true" class="elements16">
  <div class="container">
    <div class="row"><div class="col-lg-8 m-auto"><div class="inner-header text-center heading1"><h1>Supervisório, SCADA e dados industriais</h1><div class="space28"></div><a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> Projeto <i class="fa-solid fa-angle-right"></i> <span>Supervisório, SCADA e dados industriais</span></a></div></div></div>
  </div>
</div>

<div class="case-single-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="case-sider-widget-area scb-project-widget-reset">
          <div class="img1 image-anime reveal"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img12.png' %}" alt="Case Img12 | Smart Control Brasil"></div>
          <div class="space32"></div>
          <h3>Escopo técnico</h3>
          <div class="space20"></div>
          <p>A implantação prioriza telas claras, alarmes úteis, registros confiáveis, permissões adequadas e capacidade de expansão conforme a planta evolui.</p>
          <p><strong>Cliente:</strong> Smart Control Brasil</p>
          <p><strong>Status:</strong> Frente de atuação em automação industrial</p>
          <p><strong>Foco:</strong> SCADA, alarmes, tendências, histórico e visualização de processo</p>
          <div class="space20"></div>
          <p>Supervisórios e sistemas SCADA ajudam a operação a enxergar variáveis críticas, alarmes, eventos e tendências sem depender apenas de inspeção manual.</p>
          <div class="space20"></div>
          <p>A solução pode integrar CLPs, IHMs, medidores e sensores para registrar histórico, apoiar manutenção e transformar dados industriais em decisões rápidas.</p>
          <div class="space50"></div>
          <h3>Escopo técnico</h3>
          <div class="space20"></div>
          <p>A frente cobre desenvolvimento sob medida, APIs internas, dashboards, relatórios, organização operacional e integração entre módulos internos.</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Telas SCADA</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Histórico de processo</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Alarmes e eventos</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Tendências industriais</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Integração com CLPs</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Dados para manutenção</li></ul></div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico <i class="fa-solid fa-arrow-right"></i></a>
            <a href="{% url 'institutional:projects' %}" class="vl-btn2">Ver projetos <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-inner-area sp2 scb-project-section-bg">
  <div class="container">
    <div class="row"><div class="col-lg-5 m-auto"><div class="heading2 space-margin60 text-center"><h2>Projetos relacionados</h2></div></div></div>
    <div class="row">
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img1.png' %}" alt="Case Img1 | Smart Control Brasil"></div><div class="content-area"><p>Supervisão industrial e dados operacionais</p><div class="space16"></div><a href="{% url 'institutional:supervisao_dados_industriais' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:supervisao_dados_industriais' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img2.png' %}" alt="Case Img2 | Smart Control Brasil"></div><div class="content-area"><p>Robótica industrial e células automatizadas</p><div class="space16"></div><a href="{% url 'institutional:robotica_celulas_automatizadas' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:robotica_celulas_automatizadas' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
    </div>
  </div>
</div>
{% endblock %}
