{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'institutional/eitech/css/scb-projects.css' %}">
{% endblock %}

{% block title %}Servoacionamentos e controle de movimento | Smart Control Brasil{% endblock %}
{% block meta_description %}Aplicações com servoacionamentos, motion control, posicionamento, sincronismo e repetibilidade em máquinas industriais.{% endblock %}

{% block content %}
<div class="inner-page-hero-area scb-project-hero">
  <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" aria-hidden="true" class="elements5">
  <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" aria-hidden="true" class="elements4">
  <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" aria-hidden="true" class="elements1 keyframe5">
  <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" aria-hidden="true" class="elements16">
  <div class="container">
    <div class="row"><div class="col-lg-8 m-auto"><div class="inner-header text-center heading1"><h1>Servoacionamentos e controle de movimento</h1><div class="space28"></div><a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> Projeto <i class="fa-solid fa-angle-right"></i> <span>Servoacionamentos e controle de movimento</span></a></div></div></div>
  </div>
</div>

<div class="case-single-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="case-sider-widget-area scb-project-widget-reset">
          <div class="img1 image-anime reveal"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img12.png' %}" alt="Case Img12 | Smart Control Brasil"></div>
          <div class="space32"></div>
          <h3>Entrega prática</h3>
          <div class="space20"></div>
          <p>O trabalho considera mecânica da máquina, perfil de movimento, repetibilidade requerida, segurança, ajustes finos e resposta dinâmica do conjunto.</p>
          <p><strong>Cliente:</strong> Smart Control Brasil</p>
          <p><strong>Status:</strong> Frente de atuação em automação industrial</p>
          <p><strong>Foco:</strong> Servoacionamentos, posicionamento, sincronismo, velocidade e precisão</p>
          <div class="space20"></div>
          <p>Aplicações de movimento exigem controle preciso de posição, velocidade, torque e sincronismo para manter ciclos estáveis e qualidade do processo.</p>
          <div class="space20"></div>
          <p>A frente apoia dimensionamento, diagnóstico, parametrização e integração de servoacionamentos com CLPs, sensores, encoders e interfaces de operação.</p>
          <div class="space50"></div>
          <h3>Entrega prática</h3>
          <div class="space20"></div>
          <p>Planejamos site institucional, landing pages, vídeos, conteúdo, funil simples, presença digital e rotinas para geração de oportunidades comerciais.</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Servoacionamentos</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Motion control</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Posicionamento preciso</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Sincronismo de eixos</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Encoders e sensores</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Ajuste de ciclo</li></ul></div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico <i class="fa-solid fa-arrow-right"></i></a>
            <a href="{% url 'institutional:services' %}" class="vl-btn2">Conhecer soluções <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-inner-area sp2 scb-project-section-bg">
  <div class="container">
    <div class="row"><div class="col-lg-5 m-auto"><div class="heading2 space-margin60 text-center"><h2>Projetos relacionados</h2></div></div></div>
    <div class="row">
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img1.png' %}" alt="Case Img1 | Smart Control Brasil"></div><div class="content-area"><p>Supervisório, SCADA e dados industriais</p><div class="space16"></div><a href="{% url 'institutional:supervisorio_scada_dados_industriais' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:supervisorio_scada_dados_industriais' %}" aria-label="Clique para obter mais detalhes sobre este serviço técnico de automação"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img2.png' %}" alt="Case Img2 | Smart Control Brasil"></div><div class="content-area"><p>Diagnóstico industrial e engenharia da solução</p><div class="space16"></div><a href="{% url 'institutional:diagnostico_industrial_engenharia_solucao' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:diagnostico_industrial_engenharia_solucao' %}" aria-label="Clique para obter mais detalhes sobre este serviço técnico de automação"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
    </div>
  </div>
</div>
{% endblock %}
