{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block title %}Supervisão industrial e dados operacionais | Smart Control Brasil{% endblock %}
{% block meta_description %}Projetos de supervisão industrial, dados operacionais, alarmes, tendências e indicadores para melhorar a visibilidade de máquinas e processos.{% endblock %}

{% block content %}
<div class="inner-page-hero-area" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/hero-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" class="elements5">
  <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" class="elements4">
  <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" class="elements1 keyframe5">
  <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" class="elements16">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="inner-header text-center heading1">
          <h1>Supervisão industrial e dados operacionais</h1>
          <div class="space28"></div>
          <a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> Projeto <i class="fa-solid fa-angle-right"></i> <span>Supervisão industrial e dados operacionais</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-single-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="case-sider-widget-area" style="padding: 0 !important;">
          <div class="img1 image-anime reveal">
            <img src="{% static 'institutional/eitech/img/all-images/case/case-img12.png' %}" alt="">
          </div>
          <div class="space32"></div>
          <h3>Contexto e abordagem</h3>
          <div class="space20"></div>
          <p>Quando dados ficam dispersos em telas locais, planilhas e anotações manuais, a equipe perde velocidade para diagnosticar falhas e priorizar ações. A abordagem estrutura coleta, visualização, alarmes e histórico de forma gradual.</p>
          <p><strong>Cliente:</strong> Smart Control Brasil</p>
          <p><strong>Status:</strong> Frente de atuação em automação industrial</p>
          <p><strong>Foco:</strong> SCADA, coleta de dados, alarmes, tendências e indicadores industriais</p>
          <div class="space20"></div>
          <p>A frente de supervisão industrial organiza sinais de máquinas, linhas e utilidades para dar visibilidade técnica ao que acontece no processo em tempo real.</p>
          <div class="space20"></div>
          <p>O trabalho conecta CLPs, IHMs, medidores, supervisórios e registros de manutenção para transformar dados de chão de fábrica em informação confiável para operação e engenharia.</p>
          <div class="space50"></div>
          <h3>Contexto e abordagem</h3>
          <div class="space20"></div>
          <p>Com dados espalhados e rotinas desconectadas, a operação perde rastreabilidade e velocidade. O Supervisão industrial e dados operacionais organiza módulos, integra fluxos e cria uma base sólida para automações e tomada de decisão mais consistente.</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <ul class="list">
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Coleta de sinais industriais</li>
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Histórico de alarmes e eventos</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6">
              <ul class="list">
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Tendências de processo</li>
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Indicadores operacionais</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6">
              <ul class="list">
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Integração com CLPs e IHMs</li>
                <li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="">Visão técnica da operação</li>
              </ul>
            </div>
          </div>
          <div class="space50"></div>
          <h3>Benefícios esperados</h3>
          <div class="space20"></div>
          <p>Mais rastreabilidade, melhor resposta a falhas, análise de paradas mais objetiva e base técnica para manutenção, eficiência energética e melhoria contínua.</p>
          <div class="space28"></div>
          <div class="bg-progress">
            <div class="progress-bar">
              <label>Supervisão e SCADA <span>98%</span></label>
              <div class="progress">
                <div class="progress-inner" data-progress="98" style="width: 0%;"></div>
              </div>
            </div>
            <div class="progress-bar">
              <label>Dados industriais <span>97%</span></label>
              <div class="progress">
                <div class="progress-inner" data-progress="97" style="width: 0%;"></div>
              </div>
            </div>
            <div class="progress-bar">
              <label>Aplicação prática <span>99%</span></label>
              <div class="progress">
                <div class="progress-inner" data-progress="99" style="width: 0%;"></div>
              </div>
            </div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Solicitar diagnóstico <i class="fa-solid fa-arrow-right"></i></a>
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Falar com especialista <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-inner-area sp2" style="background-image: url({% static 'institutional/eitech/img/all-images/bg/service-bg1.png' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 m-auto">
        <div class="heading2 space-margin60 text-center">
          <h2>Projetos relacionados</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="case-slider-boxarea">
          <div class="img1 image-anime">
            <img src="{% static 'institutional/eitech/img/all-images/case/case-img1.png' %}" alt="">
          </div>
          <div class="content-area">
            <p>Diagnóstico industrial e engenharia da solução</p>
            <div class="space16"></div>
            <a href="{% url 'institutional:diagnostico_industrial_engenharia_solucao' %}">Conhecer frente</a>
            <div class="arrow"><a href="{% url 'institutional:diagnostico_industrial_engenharia_solucao' %}"><i class="fa-solid fa-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="case-slider-boxarea">
          <div class="img1 image-anime">
            <img src="{% static 'institutional/eitech/img/all-images/case/case-img2.png' %}" alt="">
          </div>
          <div class="content-area">
            <p>Supervisório, SCADA e dados industriais</p>
            <div class="space16"></div>
            <a href="{% url 'institutional:supervisorio_scada_dados_industriais' %}">Ver projetos</a>
            <div class="arrow"><a href="{% url 'institutional:supervisorio_scada_dados_industriais' %}"><i class="fa-solid fa-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
