{% extends 'institutional/eitech/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'institutional/eitech/css/scb-projects.css' %}">
{% endblock %}

{% block title %}Tecnologia embarcada e soluções customizadas | Smart Control Brasil{% endblock %}
{% block meta_description %}Aplicações com sensores, placas, controladores, interfaces, comunicação, automação local e integração com sistemas digitais.{% endblock %}

{% block content %}
<div class="inner-page-hero-area scb-project-hero">
  <img src="{% static 'institutional/eitech/img/elements/elements5.png' %}" alt="" aria-hidden="true" class="elements5">
  <img src="{% static 'institutional/eitech/img/elements/elements4.png' %}" alt="" aria-hidden="true" class="elements4">
  <img src="{% static 'institutional/eitech/img/elements/elements1.png' %}" alt="" aria-hidden="true" class="elements1 keyframe5">
  <img src="{% static 'institutional/eitech/img/elements/elements16.png' %}" alt="" aria-hidden="true" class="elements16">
  <div class="container">
    <div class="row"><div class="col-lg-8 m-auto"><div class="inner-header text-center heading1"><h1>Tecnologia embarcada e soluções customizadas</h1><div class="space28"></div><a href="{% url 'institutional:home' %}">Home <i class="fa-solid fa-angle-right"></i> Projeto <i class="fa-solid fa-angle-right"></i> <span>Tecnologia embarcada e soluções customizadas</span></a></div></div></div>
  </div>
</div>

<div class="case-single-section-area sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="case-sider-widget-area scb-project-widget-reset">
          <div class="img1 image-anime reveal"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img12.png' %}" alt="Case Img12 | Smart Control Brasil"></div>
          <div class="space32"></div>
          <h3>Aplicações customizadas</h3>
          <div class="space20"></div>
          <p>Nem toda aplicação se resolve com produto pronto. Algumas empresas precisam conectar sensores, placas, controladores, interfaces e sistemas digitais em uma solução própria.</p>
          <p><strong>Cliente:</strong> Smart Control Brasil</p>
          <p><strong>Status:</strong> Frente de atuação em tecnologia aplicada</p>
          <p><strong>Foco:</strong> Tecnologia embarcada, sensores, controladores, interfaces e integração com software</p>
          <div class="space20"></div>
          <p>A solução pode envolver protótipos, automação local, coleta de dados, comunicação entre dispositivos, dashboards e integração entre produto físico e sistema digital.</p>
          <div class="space20"></div>
          <p>O objetivo é criar uma aplicação aderente à realidade do cliente, com engenharia simples, documentação clara e caminho para evolução comercial ou operacional.</p>
          <div class="space50"></div>
          <h3>Componentes da solução</h3>
          <div class="space20"></div>
          <p>A frente cobre entendimento da necessidade, seleção de componentes, lógica embarcada, comunicação, testes, documentação e integração com plataformas digitais.</p>
          <div class="space12"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Sensores e placas</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Controladores</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Comunicação e IoT</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Interfaces digitais</li></ul></div>
            <div class="col-lg-4 col-md-6"><ul class="list"><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Dashboards</li><li><img src="{% static 'institutional/eitech/img/icons/check1.svg' %}" alt="" aria-hidden="true">Integração com sistemas</li></ul></div>
          </div>
          <div class="space32"></div>
          <div class="btn-area1">
            <a href="{% url 'institutional:contact' %}" class="vl-btn2">Desenvolver solução customizada <i class="fa-solid fa-arrow-right"></i></a>
            <a href="{% url 'institutional:projects' %}" class="vl-btn2">Ver projetos <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case-inner-area sp2 scb-project-section-bg">
  <div class="container">
    <div class="row"><div class="col-lg-5 m-auto"><div class="heading2 space-margin60 text-center"><h2>Projetos relacionados</h2></div></div></div>
    <div class="row">
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img1.png' %}" alt="Case Img1 | Smart Control Brasil"></div><div class="content-area"><p>Integração de chão de fábrica e dados industriais</p><div class="space16"></div><a href="{% url 'institutional:integracao_chao_fabrica_dados_industriais' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:integracao_chao_fabrica_dados_industriais' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
      <div class="col-lg-6 col-md-6"><div class="case-slider-boxarea"><div class="img1 image-anime"><img loading="lazy" src="{% static 'institutional/eitech/img/all-images/case/case-img2.png' %}" alt="Case Img2 | Smart Control Brasil"></div><div class="content-area"><p>Robótica e automação aplicada</p><div class="space16"></div><a href="{% url 'institutional:robotica_celulas_automatizadas' %}">Conhecer frente</a><div class="arrow"><a href="{% url 'institutional:robotica_celulas_automatizadas' %}"><i class="fa-solid fa-arrow-right"></i></a></div></div></div></div>
    </div>
  </div>
</div>
{% endblock %}
