{% load static %}
<!--=====HEADER START=======-->
<header class="homepage1-body">
  <div id="vl-header-sticky" class="vl-header-area vl-transparent-header">
      <div class="container headerfix">
          <div class="row align-items-center row-bg3">
              <div class="col-lg-2 col-md-6 col-6">
                  <div class="vl-logo">
                      <a href="{% url 'institutional:home' %}"><img src="{% static 'institutional/eitech/img/logo/logo1.png' %}" alt=""></a>
                  </div>
              </div>
              <div class="col-lg-7 d-none d-lg-block">
                  <div class="vl-main-menu text-center">
                      <nav class="vl-mobile-menu-active">
                          <ul>
                              <li class="has-dropdown">
                                  <a href="#">Home <span><i class="fa-solid fa-angle-down d-lg-inline d-none"></i></span></a>
                                  <div class="vl-mega-menu">
                                      <div class="vl-home-menu">                    
                                          <div class="row gx-3 row-cols-1 row-cols-md-1 row-cols-lg-5">
                                              <div class="col">
                                                      <div class="vl-home-thumb">
                                                          <div class="img1">
                                                            <img src="{% static 'institutional/eitech/img/all-images/demo/demo-img1.png' %}" alt="">
                                                          </div>
                                                         <a href="{% url 'institutional:home' %}">Home</a>
                                                         <div class="btn-area1">
                                                          <a href="{% url 'institutional:home' %}" class="vl-btn1">Página</a>
                                                          <div class="space16"></div>
                                                          <a href="{% url 'institutional:home' %}" target="_blank" class="vl-btn1">Seção</a>
                                                         </div>
                                                         <div class="space20 d-lg-none d-block"></div>
                                                      </div>
                                              </div>
                                              <div class="col">
                                                      <div class="vl-home-thumb">
                                                        <div class="img1">
                                                          <img src="{% static 'institutional/eitech/img/all-images/demo/demo-img2.png' %}" alt="">
                                                        </div>
                                                        <a href="{% url 'institutional:about' %}">Sobre</a>
                                                        <div class="btn-area1">
                                                          <a href="{% url 'institutional:about' %}" class="vl-btn1">Página</a>
                                                          <div class="space16"></div>
                                                          <a href="{% url 'institutional:about' %}" target="_blank" class="vl-btn1">Seção</a>
                                                         </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                      </div>
                                              </div>
                                              <div class="col ">
                                                      <div class="vl-home-thumb">
                                                        <div class="img1">
                                                          <img src="{% static 'institutional/eitech/img/all-images/demo/demo-img3.png' %}" alt="">
                                                        </div>
                                                        <a href="{% url 'institutional:services' %}">Soluções</a>
                                                        <div class="btn-area1">
                                                          <a href="{% url 'institutional:services' %}" class="vl-btn1">Página</a>
                                                          <div class="space16"></div>
                                                          <a href="{% url 'institutional:services' %}" target="_blank" class="vl-btn1">Seção</a>
                                                         </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                      </div>
                                              </div>
                                              <div class="col ">
                                                      <div class="vl-home-thumb">
                                                        <div class="img1">
                                                          <img src="{% static 'institutional/eitech/img/all-images/demo/demo-img4.png' %}" alt="">
                                                        </div>
                                                        <a href="{% url 'institutional:projects' %}">Projetos</a>
                                                        <div class="btn-area1">
                                                          <a href="{% url 'institutional:projects' %}" class="vl-btn1">Página</a>
                                                          <div class="space16"></div>
                                                          <a href="{% url 'institutional:projects' %}" target="_blank" class="vl-btn1">Seção</a>
                                                         </div>
                                                        <div class="space20 d-lg-none d-block"></div>
                                                      </div>
                                              </div>

                                              <div class="col ">
                                                    <div class="vl-home-thumb">
                                                      <div class="img1">
                                                        <img src="{% static 'institutional/eitech/img/all-images/demo/demo-img5.png' %}" alt="">
                                                      </div>
                                                      <a href="{% url 'institutional:blog' %}">Blog</a>
                                                      <div class="btn-area1">
                                                        <a href="{% url 'institutional:blog' %}" class="vl-btn1">Página</a>
                                                        <div class="space16"></div>
                                                        <a href="{% url 'institutional:blog' %}" target="_blank" class="vl-btn1">Seção</a>
                                                       </div>
                                                    </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>

                              <li class="has-dropdown">
                                <a href="#">Paginas <span><i class="fa-solid fa-angle-down d-lg-inline d-none"></i></span></a>
                                  <ul class="sub-menu">
                                      <li><a href="{% url 'institutional:about' %}">Sobre</a></li>
                                      <li><a href="{% url 'institutional:team' %}">Equipe</a></li>
                                      <li><a href="{% url 'institutional:team' %}">Depoimentos</a></li>
                                      <li><a href="{% url 'institutional:contact' %}">Contato</a></li>
                                      <li><a href="{% url 'institutional:faq' %}">FAQ</a></li>
                                      <li><a href="#">404</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Servicos <span><i class="fa-solid fa-angle-down d-lg-inline d-none"></i></span></a>
                                <ul class="sub-menu">
                                  <li><a href="{% url 'institutional:services' %}">Servicos</a></li>
                                  <li><a href="{% url 'institutional:service_details' %}" class="span-arrow">Detalhes de Servico <span><i class="fa-solid fa-angle-right d-lg-block d-none"></i></span></a>
                                    <ul class="sub-menu menu1">
                                      <li><a href="{% url 'institutional:service_details' %}">Detalhe de Servico</a></li>
                                      <li><a href="{% url 'institutional:service_details' %}">Detalhe de Servico</a></li>
                                      <li><a href="{% url 'institutional:service_details' %}">Detalhe de Servico</a></li>
                                    </ul>
                                  </li>
                              </ul>
                              </li>
                              <li><a href="#">Projetos <span><i class="fa-solid fa-angle-down d-lg-inline d-none"></i></span></a>
                                <ul class="sub-menu">
                                  <li><a href="{% url 'institutional:projects' %}">Projetos</a></li>
                                  <li><a href="{% url 'institutional:project_details' %}" class="span-arrow">Detalhes de Projeto <span><i class="fa-solid fa-angle-right d-lg-block d-none"></i></span></a>
                                    <ul class="sub-menu menu1">
                                      <li><a href="{% url 'institutional:project_details' %}">Detalhe de Projeto</a></li>
                                      <li><a href="{% url 'institutional:project_details' %}">Detalhe de Projeto</a></li>
                                      <li><a href="{% url 'institutional:project_details' %}">Detalhe de Projeto</a></li>
                                  </ul>
                                  </li>
                              </ul>
                              </li>
                              <li><a href="#">Blog <span><i class="fa-solid fa-angle-down d-lg-inline d-none"></i></span></a>
                                <ul class="sub-menu">
                                  <li><a href="{% url 'institutional:blog' %}" class="span-arrow">Nosso Blog <span><i class="fa-solid fa-angle-right d-lg-block d-none"></i></span></a>
                                    <ul class="sub-menu menu1">
                                      <li><a href="{% url 'institutional:blog' %}">Lista de Artigos</a></li>
                                      <li><a href="{% url 'institutional:blog' %}">Noticias</a></li>
                                  </ul>
                                  </li>
                                  <li><a href="{% url 'institutional:blog' %}" class="span-arrow">Blog Lista <span><i class="fa-solid fa-angle-right d-lg-block d-none"></i></span></a>
                                    <ul class="sub-menu menu1">
                                      <li><a href="{% url 'institutional:blog' %}">Blog Lista 1</a></li>
                                     <li><a href="{% url 'institutional:blog' %}">Blog Lista 2</a></li>
                                      <li><a href="{% url 'institutional:blog' %}">Blog Lista 3</a></li>
                                      <li><a href="{% url 'institutional:blog' %}">Blog Lista 4</a></li>
                                  </ul>
                                  </li>
                                  <li><a href="{% url 'institutional:blog_ia_pequenas_empresas' %}" class="span-arrow">Detalhes do Blog <span><i class="fa-solid fa-angle-right d-lg-block d-none"></i></span></a>
                                    <ul class="sub-menu menu1">
                                      <li><a href="{% url 'institutional:blog_details' %}">Artigo Completo</a></li>
                                      <li><a href="{% url 'institutional:blog_details' %}">Artigo Completo</a></li>
                                      <li><a href="{% url 'institutional:blog_details' %}">Artigo Completo</a></li>
                                  </ul>
                                  </li>
                              </ul>
                              </li>
                              <li><a href="{% url 'institutional:contact' %}">Contato</a></li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-6">
                  <div class="vl-hero-btn d-none d-lg-block text-end">
                          <span class="vl-btn-wrap text-end">
                            <a href="{% url 'institutional:contact' %}" class="vl-btn1">Solicitar diagnostico <i class="fa-solid fa-arrow-right"></i></a>
                          </span>
                  </div>
                  <div class="vl-header-action-item d-block d-lg-none">
                      <button type="button" class="vl-offcanvas-toggle">
                        <i class="fa-solid fa-bars-staggered"></i>
                      </button>
                   </div>
              </div>
          </div>
      </div>
  </div>
</header>
 <!--=====HEADER END =======-->

  <!--===== MOBILE HEADER STARTS =======-->
<div class="homepage1-body">
  <div class="vl-offcanvas">
    <div class="vl-offcanvas-wrapper">
        <div class="vl-offcanvas-header d-flex justify-content-between align-items-center mb-90">
            <div class="vl-offcanvas-logo">
                <a href="{% url 'institutional:home' %}"><img src="{% static 'institutional/eitech/img/logo/logo1.png' %}" alt=""></a>
            </div>
            <div class="vl-offcanvas-close">
               <button class="vl-offcanvas-close-toggle"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>

        <div class="vl-offcanvas-menu d-lg-none mb-40">
            <nav></nav>
        </div>

        <div class="space20"></div>
        <div class="vl-offcanvas-info">
            <h3 class="vl-offcanvas-sm-title">Contato</h3>
            <div class="space20"></div>
            <span><a href="tel:+551151968525"> <i class="fa-solid fa-phone"></i> +55 11 5196-8525</a></span>
            <span><a href="mailto:contato@smartcontrolbrasil.com.br"><i class="fa-regular fa-envelope"></i> contato@smartcontrolbrasil.com.br</a></span>
            <span><a href="#"><i class="fa-solid fa-location-dot"></i> Sao Paulo - Brasil</a></span>
        </div>
        <div class="space20"></div>
        <div class="vl-offcanvas-social">
            <h3 class="vl-offcanvas-sm-title">Siga a Smart Control Brasil</h3>
            <div class="space20"></div>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
         </div>

    </div>
</div>
<div class="vl-offcanvas-overlay"></div>
</div>
<!--===== MOBILE HEADER STARTS =======-->