{% load static %}
<!--===== JS SCRIPT LINK =======-->
<script src="{% static 'institutional/eitech/js/plugins/bootstrap.min.js' %}" defer></script>
<script src="{% static 'institutional/eitech/js/plugins/aos.js' %}" defer></script>
<script src="{% static 'institutional/eitech/js/plugins/mobilemenu.js' %}" defer></script>
<script src="{% static 'institutional/eitech/js/plugins/sidebar.js' %}" defer></script>
<script src="{% static 'institutional/eitech/js/plugins/gsap.min.js' %}" defer></script>
<script src="{% static 'institutional/eitech/js/plugins/ScrollTrigger.min.js' %}" defer></script>
<script src="{% static 'institutional/eitech/js/plugins/Splitetext.js' %}" defer></script>
