{% load static %}
<!--===== JS SCRIPT LINK =======-->
<script src="{% static 'institutional/eitech/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/fontawesome.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/aos.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/counter.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/gsap.min.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/Splitetext.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/SmoothScroll.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/sidebar.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/mobilemenu.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/owlcarousel.min.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/nice-select.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/slick-slider.js' %}"></script>
<script src="{% static 'institutional/eitech/js/plugins/circle-progress.js' %}"></script>
<script src="{% static 'institutional/eitech/js/main.js' %}"></script>